Repository godot-rust/gdext, pull requests merged in 2022-12, with the labels that each got.

#48 CI + codegen improvements; header update
  .github/composite/godot/action.yml
  .github/workflows/minimal-ci.yml
  examples/dodge-the-creeps/godot/Main.tscn
  examples/dodge-the-creeps/godot/Mob.tscn
  examples/dodge-the-creeps/godot/Player.tscn
  gdext-class/src/obj/gd.rs
  godot-codegen/Cargo.toml
  godot-codegen/input/gdnative_interface.h
  godot-codegen/input/tweak.patch
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/godot_version.rs
  godot-codegen/src/lib.rs
  godot-core/Cargo.toml
  godot-core/build.rs
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/builtin/node_path.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/string.rs
  godot-core/src/builtin/string_name.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/variant/variant_traits.rs
  godot-core/src/engine.rs
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/log.rs
  godot-core/src/macros.rs
  godot-core/src/obj/as_arg.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/gd.rs
  godot-core/src/registry.rs
  godot-core/src/test_stubs.rs
  godot-ffi/Cargo.toml
  godot-ffi/build.rs
  godot-ffi/src/gen_central_stub.rs
  godot-ffi/src/godot_ffi.rs
  godot-ffi/src/lib.rs
  godot-macros/Cargo.toml
  godot/Cargo.toml
  godot/src/lib.rs
  itest/godot/itest.gdextension
  itest/rust/src/gdscript_ffi_test.rs
  itest/rust/src/lib.rs
Labels: quality-of-life, c: tooling, c: ffi

#49 Migrate `gdnative_interface.h` -> `gdextension_interface.h`
  .github/composite/godot/action.yml
  ReadMe.md
  godot-codegen/input/gdextension_interface.h
  godot-codegen/input/gdnative_interface.h
  godot-codegen/input/tweak.patch
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/tests.rs
  godot-codegen/src/util.rs
  godot-core/src/builder/method.rs
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/meta/class_name.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/builtin/node_path.rs
  godot-core/src/builtin/string.rs
  godot-core/src/builtin/string_name.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/builtin/vector3.rs
  godot-core/src/builtin/vector4.rs
  godot-core/src/init/mod.rs
  godot-core/src/macros.rs
  godot-core/src/obj/as_arg.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/instance_id.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-core/src/storage.rs
  godot-core/src/test_stubs.rs
  godot-ffi/build.rs
  godot-ffi/src/gen_central_stub.rs
  godot-ffi/src/global_registry.rs
  godot-ffi/src/godot_ffi.rs
  godot-ffi/src/lib.rs
  godot-macros/src/gdextension.rs
  godot-macros/src/godot_api.rs
Labels: quality-of-life, c: ffi

#53 Instead of `minimal` feature, use `codegen-full` (additive)
  examples/dodge-the-creeps/rust/Cargo.toml
  godot-codegen/Cargo.toml
  godot-codegen/src/class_generator.rs
  godot-codegen/src/context.rs
  godot-codegen/src/lib.rs
  godot-core/Cargo.toml
  godot-ffi/Cargo.toml
  godot-macros/Cargo.toml
  godot/Cargo.toml
  itest/rust/Cargo.toml
Labels: quality-of-life, c: tooling

#46 Add variant type support to #[export] attributes
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/util.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/export_test.rs
  itest/rust/src/lib.rs
Labels: feature, c: bind
