Repository godot-rust/gdext, pull requests merged in 2023-05, with the labels that each got.

#253 DTC example - Don't `_process` on player in editor
  examples/dodge-the-creeps/rust/src/player.rs
Labels: bug, c: examples

#212 Implement InstanceStorage optionally as sync for #18
  .github/workflows/full-ci.yml
  godot-core/Cargo.toml
  godot-core/src/obj/guards.rs
  godot-core/src/storage.rs
  godot/Cargo.toml
  itest/rust/Cargo.toml
Labels: feature, c: core

#256 Various improvements to check.sh
  check.sh
Labels: quality-of-life, c: tooling

#259 CI workflow to notify API Docs automation
  .github/external-config/public-docs-token.txt
  .github/workflows/update-docs.yml
Labels: feature, c: tooling

#238 Fix osx m1 target path for .gdextension files
  ReadMe.md
  examples/dodge-the-creeps/godot/DodgeTheCreeps.gdextension
  itest/godot/itest.gdextension
Labels: bug, c: tooling

#237 Add serde behind feature flag for some builtins
  .github/workflows/full-ci.yml
  godot-core/Cargo.toml
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/builtin/vector2i.rs
  godot-core/src/builtin/vector3.rs
  godot-core/src/builtin/vector3i.rs
  godot-core/src/builtin/vector4.rs
  godot-core/src/builtin/vector4i.rs
  godot/Cargo.toml
  itest/rust/Cargo.toml
Labels: feature, c: core

#271 Improve compile times, unbreak CI temporarily
  .github/composite/godot-install/action.yml
  .github/composite/godot-itest/action.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  check.sh
  examples/dodge-the-creeps/rust/Cargo.toml
  godot-codegen/src/lib.rs
  godot-core/src/builtin/mod.rs
  godot/Cargo.toml
  godot/src/lib.rs
  itest/rust/Cargo.toml
Labels: quality-of-life, c: tooling

#273 Revert CI to use again latest nightly
  .github/composite/godot-install/action.yml
Labels: quality-of-life, c: tooling

#241 Properly export arrays, nodes, and resources by default
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/export.rs
  godot-core/src/lib.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  godot-macros/src/derive_godot_class.rs
  godot/src/lib.rs
Labels: bug, c: bind

#284 Compatibility with 4.1 GDExtension API
  .github/composite/godot-itest/action.yml
  .github/workflows/full-ci.yml
  examples/dodge-the-creeps/godot/DodgeTheCreeps.gdextension
  godot-bindings/Cargo.toml
  godot-bindings/res/tweak.patch
  godot-bindings/src/godot_exe.rs
  godot-codegen/Cargo.toml
  godot-codegen/src/api_parser.rs
  godot-codegen/src/central_generator.rs
  godot-codegen/src/interface_generator.rs
  godot-codegen/src/lib.rs
  godot-core/Cargo.toml
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/builtin/string/godot_string.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/log.rs
  godot-core/src/macros.rs
  godot-core/src/obj/gd.rs
  godot-ffi/Cargo.toml
  godot-ffi/build.rs
  godot-ffi/src/compat/compat_4_0.rs
  godot-ffi/src/compat/compat_4_1.rs
  godot-ffi/src/compat/mod.rs
  godot-ffi/src/godot_ffi.rs
  godot-ffi/src/lib.rs
  godot-macros/src/gdextension.rs
  itest/godot/itest.gdextension
  itest/rust/src/object_test.rs
Labels: feature, c: tooling, c: ffi

#272 Implement virtual methods that accept or return pointers (per #191)
  godot-codegen/src/api_parser.rs
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/context.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/tests.rs
  godot-codegen/src/util.rs
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/lib.rs
  godot-core/src/macros.rs
  godot-core/src/native_structure.rs
  godot-ffi/src/godot_ffi.rs
  godot/src/lib.rs
  itest/rust/src/lib.rs
  itest/rust/src/native_structures_test.rs
Labels: feature, c: ffi, c: engine

#246 Derive From Variant To Variant
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/variant_traits.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/instance_id.rs
  godot-macros/src/derive_from_variant.rs
  godot-macros/src/derive_to_variant.rs
  godot-macros/src/lib.rs
  godot-macros/src/util.rs
  godot/src/lib.rs
  itest/rust/src/derive_variant.rs
  itest/rust/src/lib.rs
  itest/rust/src/object_test.rs
  itest/rust/src/variant_test.rs
Labels: feature, c: core

#268 godot-core: builtin: reimplement Plane functions/methods
  godot-core/src/builtin/plane.rs
Labels: feature, c: core

#247 impl `GodotFfi` for `Option<T>` when `T` is pointer sized and nullable #240
  godot-core/src/obj/gd.rs
  godot-ffi/src/godot_ffi.rs
  godot-ffi/src/lib.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/lib.rs
  itest/rust/src/option_ffi_test.rs
Labels: feature, c: engine
