Repository godot-rust/gdext, pull requests merged in 2023-01, with the labels that each got.

#74 Clippy, leak detection, `#[cfg]` cleanups
  .github/composite/godot/action.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-codegen/input/gdextension_interface.h
  godot-codegen/src/api_parser.rs
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/context.rs
  godot-codegen/src/godot_exe.rs
  godot-codegen/src/godot_version.rs
  godot-codegen/src/special_cases.rs
  godot-codegen/src/tests.rs
  godot-codegen/src/util.rs
  godot-codegen/src/watch.rs
  godot-core/Cargo.toml
  godot-core/build.rs
  godot-core/src/bind.rs
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/engine.rs
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/obj/gd.rs
  godot-core/src/registry.rs
  godot-core/src/storage.rs
  godot-ffi/Cargo.toml
  godot-ffi/build.rs
  godot-ffi/src/global_registry.rs
  godot-ffi/src/godot_ffi.rs
  godot-ffi/src/lib.rs
  godot-ffi/src/plugins.rs
  godot-macros/Cargo.toml
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/gdextension.rs
  godot-macros/src/godot_api.rs
  godot-macros/src/itest.rs
  godot-macros/src/lib.rs
  godot-macros/src/util.rs
  godot/Cargo.toml
  godot/src/lib.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/build.rs
  itest/rust/src/export_test.rs
  itest/rust/src/gdscript_ffi_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/virtual_methods_test.rs
Labels: feature, c: tooling

#61 Add support for vararg utility functions, like print or max.
  godot-codegen/src/class_generator.rs
  itest/rust/src/utilities_test.rs
Labels: feature, c: engine

#71 Implement the basics of built-in vector types
  examples/dodge-the-creeps/rust/src/player.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/builtin/vector2i.rs
  godot-core/src/builtin/vector3.rs
  godot-core/src/builtin/vector3i.rs
  godot-core/src/builtin/vector4.rs
  godot-core/src/builtin/vector4i.rs
  godot-core/src/builtin/vector_macros.rs
Labels: feature, c: core

#75 Add `Gd::with_base()`
  godot-core/src/obj/gd.rs
  itest/rust/src/base_test.rs
Labels: feature, c: core

#81 Vector3D is not 2D, omit needless trailing commas in macros
  godot-core/src/builtin/vector3.rs
  godot-core/src/builtin/vector_macros.rs
Labels: quality-of-life, c: core

#65 PR #1/5 Astolfo feature/builtin-scalar
  godot-core/src/builtin/math.rs
Labels: feature, c: core

#83 Mention crate-type cdylib requirement in readme
  ReadMe.md
Labels: documentation

#84 Codegen support for builtin types
  godot-codegen/src/api_parser.rs
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/special_cases.rs
  godot-codegen/src/util.rs
  godot-codegen/src/utilities_generator.rs
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/vector2.rs
  godot-ffi/src/lib.rs
  itest/rust/src/builtin_test.rs
  itest/rust/src/lib.rs
Labels: feature, c: core

#85 Implement basic Array functionality
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/variant/variant_traits.rs
  itest/rust/src/array_test.rs
  itest/rust/src/lib.rs
Labels: feature, c: core

#86 Rename Godot engine classes and builtins in Rust
  godot-codegen/Cargo.toml
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/context.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/special_cases.rs
  godot-codegen/src/tests.rs
  godot-codegen/src/util.rs
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/log.rs
  godot-ffi/build.rs
  godot-ffi/src/gen_central_stub.rs
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/godot_api.rs
  godot-macros/src/itest.rs
  itest/rust/src/singleton_test.rs
Labels: quality-of-life, c: engine

#90 Several safety fixes and doc improvements for Array
  godot-core/src/builtin/arrays.rs
  itest/rust/src/array_test.rs
Labels: bug, c: core

#91 Implement packed arrays non-generically
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/variant/impls.rs
  itest/rust/src/array_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/packed_array_test.rs
Labels: feature, c: core

#96 No more unit-test special treatment, full clippy/test coverage, `check.sh` script, animation update
  .github/composite/godot-install/action.yml
  .github/composite/godot-itest/action.yml
  .github/composite/rust/action.yml
  .github/external-config/licenserc.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  check.sh
  examples/dodge-the-creeps/rust/src/mob.rs
  examples/dodge-the-creeps/rust/src/player.rs
  godot-codegen/src/central_generator.rs
  godot-codegen/src/lib.rs
  godot-core/build.rs
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/string.rs
  godot-core/src/builtin/string_name.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/macros.rs
  godot-core/src/test_stubs.rs
  godot-ffi/build.rs
  godot-ffi/src/gen_central_stub.rs
  godot-ffi/src/lib.rs
  godot/src/lib.rs
  itest/rust/build.rs
  itest/rust/src/builtin_test.rs
  itest/rust/src/enum_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/object_test.rs
  itest/rust/src/variant_test.rs
Labels: bug, quality-of-life, c: tooling

#78 Make any Object Variants with a nullptr inside instead be of type Nil.
  godot-core/src/builtin/node_path.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/obj/gd.rs
  godot-ffi/src/lib.rs
  itest/rust/src/variant_test.rs
Labels: bug, c: core
