Repository godot-rust/gdext, pull requests merged in 2023-06, with the labels that each got.

#288 Run CI against stable Godot runtime
  .github/composite/godot-install/action.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-bindings/src/godot_exe.rs
  godot-bindings/src/godot_version.rs
  godot-bindings/src/lib.rs
  godot-codegen/src/central_generator.rs
  godot-core/Cargo.toml
  godot-core/build.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/string/godot_string.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/lib.rs
  godot-ffi/build.rs
  godot-ffi/src/godot_ffi.rs
  godot-ffi/src/lib.rs
Labels: feature, c: tooling

#276 Added doc aliases for godot-core/builtin
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/rid.rs
Labels: documentation, c: core

#279 Signals now accept parameters
  godot-core/src/lib.rs
  godot-core/src/macros.rs
  godot-macros/src/godot_api.rs
  itest/rust/src/lib.rs
  itest/rust/src/signal_test.rs
Labels: feature, c: bind

#299 Added instantiate_as for PackedScene
  examples/dodge-the-creeps/rust/src/main_scene.rs
  godot-core/src/engine.rs
  godot/src/lib.rs
Labels: feature, c: engine

#301 Make exporting without a `#[godot_api]` a compile error
  godot-core/src/export.rs
  godot-core/src/lib.rs
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/godot_api.rs
  godot-macros/src/lib.rs
Labels: bug, c: bind

#280 Reimplemented Aabb.rs in godot-core/src/builtin
  godot-core/src/builtin/aabb.rs
Labels: feature, c: core

#305 Update the ptrcall convention to work with 4.0 and 4.1
  .github/composite/godot-itest/action.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-core/src/builtin/callable.rs
  godot-core/src/obj/as_arg.rs
  godot-core/src/obj/gd.rs
  godot-ffi/src/compat/compat_4_0.rs
  godot-ffi/src/compat/compat_4_1.rs
Labels: bug, c: ffi

#307 Implement `PackedArray::as_slice()`, `as_slice_mut()`
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/packed_array.rs
  itest/rust/src/array_test.rs
  itest/rust/src/packed_array_test.rs
Labels: feature, c: core

#282 godot-core: delegate TypeStringHint on Option<T> to T
  godot-core/src/obj/gd.rs
Labels: bug, c: bind

#295 Implementation of Plane integration tests
  godot-core/src/builtin/plane.rs
  itest/rust/src/lib.rs
  itest/rust/src/plane_test.rs
Labels: feature, c: core

#314 `ApproxEq` trait + refactorings
  .github/workflows/full-ci.yml
  godot-codegen/src/class_generator.rs
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/math/approx_eq.rs
  godot-core/src/builtin/math/glam_helpers.rs
  godot-core/src/builtin/math/mod.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/real.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector4.rs
  godot-core/src/builtin/vectors/vector4i.rs
  godot-core/src/builtin/vectors/vector_axis.rs
  godot-core/src/engine.rs
  godot-core/src/lib.rs
  godot-core/src/native_structure.rs
  godot/src/lib.rs
  itest/rust/src/basis_test.rs
  itest/rust/src/native_structures_test.rs
  itest/rust/src/plane_test.rs
  itest/rust/src/projection_test.rs
  itest/rust/src/transform2d_test.rs
  itest/rust/src/transform3d_test.rs
  itest/rust/src/virtual_methods_test.rs
Labels: quality-of-life, c: core

#242 Reimplement Rect2 functions
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/rect2.rs
  itest/rust/src/lib.rs
  itest/rust/src/rect2_test.rs
Labels: feature, c: core

#312 Fix use-after-free in registering functions and signals
  godot-core/src/macros.rs
  godot-ffi/src/godot_ffi.rs
  godot-macros/src/godot_api.rs
Labels: bug, c: ffi

#311 Refactor some export related stuff
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/lib.rs
  godot-core/src/obj/gd.rs
  godot-core/src/property.rs
  godot-macros/src/derive_godot_class/mod.rs
  godot-macros/src/derive_godot_class/property.rs
  godot-macros/src/gdextension.rs
  godot-macros/src/godot_api.rs
  godot-macros/src/itest.rs
  godot-macros/src/util/kv_parser.rs
  godot-macros/src/util/mod.rs
  godot/src/lib.rs
Labels: quality-of-life, c: bind

#315 Refactor small parts of `class_generator.rs`
  godot-codegen/src/class_generator.rs
  godot-codegen/src/tests.rs
  godot-codegen/src/util.rs
Labels: quality-of-life, c: engine

#303 Add a custom source code formatter to replace `rust-fmt`
  Cargo.toml
  godot-codegen/Cargo.toml
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/interface_generator.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/utilities_generator.rs
  godot-fmt/Cargo.toml
  godot-fmt/benches/gdext_bench.rs
  godot-fmt/src/lib.rs
  godot-fmt/test-cases/ip_unix.rs.txt
  godot-fmt/test-cases/rendering_server.rs.txt
Labels: feature, c: tooling

#292 Convert some godot-core macros to utility functions
  godot-core/src/lib.rs
  godot-core/src/macros.rs
  godot-macros/src/derive_godot_class/property.rs
  godot-macros/src/godot_api.rs
  godot-macros/src/lib.rs
  godot-macros/src/method_registration/mod.rs
  godot-macros/src/method_registration/register_method.rs
  godot-macros/src/method_registration/virtual_method_callback.rs
  itest/rust/src/object_test.rs
Labels: quality-of-life, c: bind

#316 Reimplement `slerp` on Vector3
  godot-core/src/builtin/vectors/vector3.rs
Labels: feature, c: core

#309 Distinguish between exported and non-exported properties
  godot-codegen/src/class_generator.rs
  godot-codegen/src/context.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  godot-core/src/property.rs
  godot-macros/src/derive_godot_class/mod.rs
  godot-macros/src/derive_godot_class/property.rs
  godot-macros/src/derive_godot_class/property/field_export.rs
  godot-macros/src/derive_godot_class/property/field_var.rs
  godot-macros/src/lib.rs
  godot-macros/src/util/kv_parser.rs
  godot-macros/src/util/list_parser.rs
  godot-macros/src/util/mod.rs
  godot/src/lib.rs
  itest/godot/ManualFfiTests.gd
  itest/godot/TestSuite.gd
  itest/rust/src/export_test.rs
  itest/rust/src/init_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/object_test.rs
  itest/rust/src/option_ffi_test.rs
  itest/rust/src/property_test.rs
  itest/rust/src/runner.rs
Labels: feature, c: bind

#320 Set minimum `quote` version
  godot-codegen/Cargo.toml
  godot-macros/Cargo.toml
  itest/rust/Cargo.toml
Labels: bug, dependencies
