Repository godot-rust/gdext, pull requests merged in 2023-02, with the labels that each got.

#100 Enumerators in `PascalCase`, update GDExtension header
  godot-codegen/input/gdextension_interface.h
  godot-codegen/src/central_generator.rs
Labels: quality-of-life, c: ffi

#67 PR #3/5 Astolfo feature/builtin-vector
  godot-core/src/builtin/math.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/builtin/vector3.rs
Labels: feature, c: core

#69 PR #5/5 Astolfo feature/example-update
  examples/dodge-the-creeps/rust/src/player.rs
Labels: feature, c: core

#103 Add a simple test runner in GDScript
  .gitignore
  examples/dodge-the-creeps/godot/.gitignore
  itest/godot/.godot/global_script_class_cache.cfg
  itest/godot/ManualFfiTests.gd
  itest/godot/TestRunner.gd
  itest/godot/TestRunner.tscn
  itest/godot/TestStats.gd
  itest/godot/TestSuite.gd
  itest/godot/input/GenFfiTests.template.gd
  itest/godot/project.godot
  itest/rust/src/lib.rs
Labels: feature, c: tooling

#109 Address sanitizers in integration tests
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  check.sh
  godot-core/src/builtin/dictionary.rs
  godot-ffi/src/godot_ffi.rs
  godot/src/lib.rs
Labels: quality-of-life, c: tooling

#112 Fix incorrect reference counts upon `Gd` object initialization
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/macros.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/gd.rs
  itest/rust/src/object_test.rs
  itest/rust/src/variant_test.rs
Labels: bug, c: core

#113 Remove feature `convenience`
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  check.sh
  examples/dodge-the-creeps/rust/Cargo.toml
  godot-core/Cargo.toml
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/variant/variant_traits.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/instance_id.rs
  godot/Cargo.toml
  godot/src/lib.rs
  itest/rust/Cargo.toml
Labels: documentation, quality-of-life, c: core

#114 Fix base class registration, better panic coverage
  godot-codegen/src/lib.rs
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/macros.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/itest.rs
  itest/rust/src/codegen_test.rs
  itest/rust/src/lib.rs
Labels: bug, c: bind

#115 Implement static methods for engine + builtin classes
  godot-codegen/src/api_parser.rs
  godot-codegen/src/class_generator.rs
  godot-core/src/builtin/color.rs
  godot-core/src/obj/gd.rs
  itest/rust/src/codegen_test.rs
  itest/rust/src/object_test.rs
Labels: feature, c: engine

#116 Make `Inherits<T>` reflexive, with implied `GodotClass` bound
  godot-core/src/obj/traits.rs
  godot-ffi/src/lib.rs
  itest/rust/src/object_test.rs
Labels: quality-of-life, c: core

#120 Add rc to godot version regex
  godot-codegen/src/godot_version.rs
Labels: bug, c: tooling

#101 Add support for typed arrays
  godot-codegen/src/lib.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/arrays.rs
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/meta/class_name.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/obj/gd.rs
  godot-core/src/registry.rs
  godot-macros/src/derive_godot_class.rs
  godot/src/lib.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/array_test.rs
  itest/rust/src/dictionary_test.rs
  itest/rust/src/variant_test.rs
Labels: feature, c: core

#99 Add iteration methods to Dictionary
  godot-core/src/builtin/dictionary.rs
  itest/rust/src/dictionary_test.rs
Labels: feature, c: core

#121 Array/Dictionary addendum and docs, `varray!` macro
  godot-codegen/src/class_generator.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/init/mod.rs
  godot-core/src/macros.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-ffi/src/lib.rs
  godot-ffi/src/opaque.rs
  godot/src/lib.rs
  itest/rust/src/array_test.rs
  itest/rust/src/dictionary_test.rs
  itest/rust/src/object_test.rs
Labels: documentation, quality-of-life, c: core

#68 PR #4/5 Astolfo feature/builtin-quaternion
  godot-core/src/builtin/glam_helpers.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/quaternion.rs
  itest/rust/src/lib.rs
  itest/rust/src/quaternion_test.rs
Labels: feature, c: core

#122 Implement PartialEq for Packed*Array and Eq where appropriate
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/packed_array.rs
  itest/rust/src/array_test.rs
  itest/rust/src/packed_array_test.rs
Labels: feature, c: core

#123 Implement Color functions
  godot-core/src/builtin/color.rs
  itest/rust/build.rs
  itest/rust/src/codegen_test.rs
  itest/rust/src/color_test.rs
  itest/rust/src/lib.rs
Labels: feature, c: core

#128 Tweaks to glamconv and indexing for vectors
  godot-core/src/builtin/glam_helpers.rs
  godot-core/src/builtin/math.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/builtin/vector3.rs
  godot-core/src/builtin/vector4.rs
Labels: quality-of-life, c: core

#133 Fix use-after-free and 3 memory leaks; enforce AddressSanitizer in CI
  .github/workflows/full-ci.yml
  godot-codegen/src/class_generator.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/node_path.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/string.rs
  godot-core/src/builtin/string_name.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/log.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/instance_id.rs
  godot-ffi/src/godot_ffi.rs
  itest/rust/src/object_test.rs
  itest/rust/src/string_test.rs
Labels: bug, c: tooling, c: ffi
