Repository godot-rust/gdext, pull requests merged in 2023-03, with the labels that each got.

#124 Implement the matrix types
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/math.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/variant/impls.rs
  itest/rust/src/basis_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/transform2d_test.rs
  itest/rust/src/transform3d_test.rs
  itest/rust/src/variant_test.rs
Labels: feature, c: core

#142 Rework integration tests: self-registering `#[itest]`, Rust runner
  .gitignore
  examples/dodge-the-creeps/godot/.gitignore
  examples/dodge-the-creeps/godot/.godot/global_script_class_cache.cfg
  godot-codegen/src/class_generator.rs
  godot-codegen/src/tests.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/lib.rs
  godot-ffi/src/lib.rs
  godot-ffi/src/plugins.rs
  godot-macros/src/itest.rs
  itest/godot/TestRunner.gd
  itest/godot/TestStats.gd
  itest/godot/TestSuite.gd
  itest/rust/src/array_test.rs
  itest/rust/src/base_test.rs
  itest/rust/src/basis_test.rs
  itest/rust/src/builtin_test.rs
  itest/rust/src/codegen_test.rs
  itest/rust/src/color_test.rs
  itest/rust/src/dictionary_test.rs
  itest/rust/src/enum_test.rs
  itest/rust/src/export_test.rs
  itest/rust/src/gdscript_ffi_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/node_test.rs
  itest/rust/src/object_test.rs
  itest/rust/src/packed_array_test.rs
  itest/rust/src/quaternion_test.rs
  itest/rust/src/runner.rs
  itest/rust/src/singleton_test.rs
  itest/rust/src/string_test.rs
  itest/rust/src/transform2d_test.rs
  itest/rust/src/transform3d_test.rs
  itest/rust/src/utilities_test.rs
  itest/rust/src/variant_test.rs
  itest/rust/src/virtual_methods_test.rs
Labels: quality-of-life, c: tooling

#146 `#[itest(skip)]` + `#[itest(focus)]`
  .github/composite/godot-install/action.yml
  .github/composite/godot-itest/action.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-ffi/src/lib.rs
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/gdextension.rs
  godot-macros/src/godot_api.rs
  godot-macros/src/itest.rs
  godot-macros/src/lib.rs
  godot-macros/src/util.rs
  itest/godot/TestRunner.gd
  itest/rust/src/base_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/node_test.rs
  itest/rust/src/packed_array_test.rs
  itest/rust/src/runner.rs
  itest/rust/src/string_test.rs
  itest/rust/src/variant_test.rs
Labels: quality-of-life, c: tooling

#147 #[export] infer `VariantType`
  godot-core/src/builtin/meta/mod.rs
  godot-macros/src/derive_godot_class.rs
  itest/rust/src/export_test.rs
Labels: quality-of-life, c: bind

#151 Rename `Array` -> `VariantArray`, `TypedArray` -> `Array`
  godot-codegen/src/class_generator.rs
  godot-codegen/src/util.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/packed_array.rs
  itest/rust/src/array_test.rs
  itest/rust/src/builtin_test.rs
  itest/rust/src/runner.rs
  itest/rust/src/variant_test.rs
Labels: quality-of-life, c: core

#157 `Gd::eq()` + fix `Gd::from_variant(nil)`
  godot-core/src/obj/gd.rs
  itest/rust/src/object_test.rs
Labels: bug, feature, c: core

#160 Implement missing FromVariant and ToVariant for Quaternion
  godot-core/src/builtin/variant/impls.rs
Labels: feature, c: core

#149 Add support for `precision=double` builds of godot
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  Contributing.md
  check.sh
  examples/dodge-the-creeps/rust/src/main_scene.rs
  examples/dodge-the-creeps/rust/src/mob.rs
  examples/dodge-the-creeps/rust/src/player.rs
  godot-codegen/Cargo.toml
  godot-codegen/src/api_parser.rs
  godot-core/Cargo.toml
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/glam_helpers.rs
  godot-core/src/builtin/math.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/builtin/vector3.rs
  godot-core/src/builtin/vector4.rs
  godot-core/src/builtin/vector_macros.rs
  godot/Cargo.toml
  itest/rust/Cargo.toml
  itest/rust/src/basis_test.rs
  itest/rust/src/lib.rs
  itest/rust/src/transform2d_test.rs
Labels: feature, c: engine

#154 Exports: add PropertyHints as optional Parameters
  godot-core/src/builtin/meta/mod.rs
  godot-macros/src/derive_godot_class.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/export_test.rs
Labels: feature, c: bind

#164 Inject scene tree into `#[itest]`
  godot-core/src/obj/gd.rs
  godot-macros/src/gdextension.rs
  godot-macros/src/itest.rs
  godot-macros/src/util.rs
  itest/godot/.godot/global_script_class_cache.cfg
  itest/godot/TestRunner.gd
  itest/rust/src/lib.rs
  itest/rust/src/object_test.rs
  itest/rust/src/runner.rs
Labels: feature, c: tooling

#153 Implement more Variant accessors
  godot-core/src/builtin/variant/mod.rs
  itest/rust/src/variant_test.rs
Labels: feature, c: core

#167 Call error messages, `gdext` rename
  Contributing.md
  ReadMe.md
  assets/asset-licenses.md
  assets/gdext-ferris.png
  check.sh
  examples/dodge-the-creeps/godot/DodgeTheCreeps.gdextension
  godot-codegen/src/class_generator.rs
  godot-core/src/builtin/node_path.rs
  godot-core/src/builtin/string.rs
  godot-core/src/builtin/string_name.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/vector2.rs
  godot-core/src/builtin/vector3.rs
  godot-core/src/builtin/vector4.rs
  godot-ffi/src/lib.rs
  godot-macros/src/gdextension.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/node_test.rs
  itest/rust/src/runner.rs
Labels: quality-of-life, c: tooling, c: engine

#174 CI improvements (cache, random layout, #jobs)
  .github/composite/godot-itest/action.yml
  .github/composite/rust/action.yml
  .github/workflows/full-ci.yml
  godot-ffi/src/global_registry.rs
  godot-ffi/src/lib.rs
Labels: quality-of-life, c: tooling

#161 expose the GodotString char slice via chars_checked and chars_unchecked
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/string.rs
  godot-core/src/builtin/string_chars.rs
Labels: feature, c: core

#176 Fix `validate_unicode_scalar_sequence` build errors on aarch64
  godot-core/src/builtin/string_chars.rs
Labels: bug, c: core

#173 Use instance_id_or_none in DynamicRefCount to fix #172
  godot-core/src/obj/traits.rs
  itest/rust/src/object_test.rs
Labels: bug, c: core

#171 Implement support for RID
  godot-codegen/src/lib.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/rid.rs
  godot-core/src/builtin/variant/impls.rs
  itest/rust/src/lib.rs
  itest/rust/src/rid_test.rs
Labels: feature, c: core

#162 Bitsets implement `Default`
  godot-codegen/src/util.rs
Labels: feature, c: engine

#182 Fix handling of empty packed array in `to_vec`
  godot-core/src/builtin/packed_array.rs
  itest/rust/src/packed_array_test.rs
Labels: bug, c: core

#136 Virtual function dispatch
  examples/dodge-the-creeps/rust/src/hud.rs
  examples/dodge-the-creeps/rust/src/main_scene.rs
  examples/dodge-the-creeps/rust/src/mob.rs
  examples/dodge-the-creeps/rust/src/player.rs
  godot-codegen/src/api_parser.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/context.rs
  godot-codegen/src/lib.rs
  godot-core/src/bind.rs
  godot-core/src/lib.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-macros/src/godot_api.rs
  godot-macros/src/util.rs
  godot/src/lib.rs
  itest/rust/src/codegen_test.rs
  itest/rust/src/export_test.rs
  itest/rust/src/object_test.rs
  itest/rust/src/virtual_methods_test.rs
Labels: feature, c: bind, c: engine

#186 Fix library paths in example project's .gdextension file
  examples/dodge-the-creeps/godot/DodgeTheCreeps.gdextension
Labels: bug

#139 adds doc tests to Godot Ext
  godot-core/src/log.rs
  godot-macros/src/lib.rs
Labels: documentation

#177 More complete #[export] implementation
  godot-core/src/obj/traits.rs
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/lib.rs
  godot-macros/src/util.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/export_test.rs
Labels: feature, c: bind

#179 Reimplements Many `Projection` Methods in Rust
  godot-core/src/builtin/projection.rs
  itest/rust/src/lib.rs
  itest/rust/src/projection_test.rs
Labels: quality-of-life, c: core

#203 Make `get` and `set` arguments take identifiers instead of strings
  godot-macros/src/derive_godot_class.rs
  godot-macros/src/lib.rs
  godot-macros/src/util.rs
  itest/rust/src/export_test.rs
Labels: feature, c: tooling

#180 Add basic impls of `Rect2`, `Rect2i`, `Aabb`, `Plane`
  examples/dodge-the-creeps/rust/src/player.rs
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/vector_macros.rs
  itest/rust/src/string_test.rs
  itest/rust/src/transform2d_test.rs
  itest/rust/src/transform3d_test.rs
Labels: feature, c: core
