Repository godot-rust/gdext, pull requests merged in 2023-12, with the labels that each got.

#519 simplify vector call
  examples/dodge-the-creeps/rust/src/main_scene.rs
Labels: quality-of-life, c: examples

#520 Use nightly godot4-prebuilt for unit-test and clippy
  .github/composite/godot-itest/action.yml
  .github/other/patch-prebuilt.sh
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  .github/workflows/update-docs.yml
Labels: quality-of-life, c: tooling

#525 Make ConvertError: Send + Sync
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/meta/godot_convert/convert_error.rs
  godot-core/src/builtin/variant/impls.rs
  godot-macros/src/derive/derive_from_variant.rs
  itest/rust/src/builtin_tests/convert_test.rs
Labels: quality-of-life, c: core

#524 Implementation of `EngineBitfield` trait
  godot-codegen/src/codegen_special_cases.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/util.rs
  godot-core/src/builtin/meta/godot_convert/convert_error.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/meta/registration/method.rs
  godot-core/src/obj/traits.rs
  godot/src/lib.rs
Labels: feature, c: engine

#492 Implementation of godots `GDExtensionScriptInstance`
  godot-codegen/src/codegen_special_cases.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/engine/mod.rs
  godot-core/src/engine/script_instance.rs
  itest/godot/ScriptInstanceTests.gd
  itest/godot/TestRunner.gd
  itest/rust/src/builtin_tests/mod.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
Labels: feature, c: ffi, c: engine

#526 Integrate examples into CI
  .github/other/check-example.sh
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  examples/dodge-the-creeps/godot/.godot/extension_list.cfg
  examples/dodge-the-creeps/godot/Hud.tscn
  examples/dodge-the-creeps/godot/Main.tscn
  examples/dodge-the-creeps/godot/Mob.tscn
  examples/dodge-the-creeps/godot/Player.tscn
  examples/dodge-the-creeps/godot/project.godot
  examples/dodge-the-creeps/godot/rust.gdextension
Labels: feature, c: tooling

#514 Implement timers called out in #432
  examples/dodge-the-creeps/rust/src/hud.rs
  godot-codegen/src/codegen_special_cases.rs
Labels: quality-of-life, c: examples

#529 Implementation of additional `Projection` methods
  godot-core/src/builtin/projection.rs
  itest/rust/src/builtin_tests/geometry/projection_test.rs
Labels: feature, c: core

#530 Added support for parsing i32, u32, i64, and u64 constants
  godot-codegen/src/api_parser.rs
  godot-codegen/src/util.rs
Labels: feature, c: engine

#528 GFile: read/write with fa.*_buffer
  godot-core/src/engine/gfile.rs
  itest/rust/src/engine_tests/file_test.rs
  itest/rust/src/engine_tests/gfile_test.rs
Labels: quality-of-life, c: engine

#534 `OnReady<T>` for late-init fields
  godot-core/src/lib.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/onready.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-macros/src/class/data_models/field.rs
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/data_models/property.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/class/godot_api.rs
  godot-macros/src/util/mod.rs
  godot/src/lib.rs
  itest/rust/src/object_tests/mod.rs
  itest/rust/src/object_tests/onready_test.rs
Labels: feature, c: bind

#537 Fix `ResourceImporter*` methods not found in Release mode; add Release CI
  .github/composite/godot-itest/action.yml
  .github/workflows/full-ci.yml
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/codegen_special_cases.rs
  godot-codegen/src/context.rs
  godot-codegen/src/special_cases.rs
  godot-codegen/src/util.rs
  itest/godot/ManualFfiTests.gd
  itest/godot/TestSuite.gd
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/framework/mod.rs
Labels: bug, c: tooling, c: engine

#538 Enable `#[var]` and `#[export]` for `OnReady<T>` fields
  godot-core/src/obj/onready.rs
  itest/rust/src/object_tests/onready_test.rs
Labels: feature, c: bind

#542 Make `double-precision` feature more robust
  godot-codegen/src/central_generator.rs
  godot-codegen/src/interface_generator.rs
  godot-codegen/src/special_cases.rs
  godot-core/src/engine/gfile.rs
  godot-core/src/init/mod.rs
  godot-ffi/src/compat/compat_4_1plus.rs
  godot-ffi/src/extras.rs
  godot-ffi/src/lib.rs
  godot-ffi/src/toolbox.rs
  godot/src/lib.rs
Labels: quality-of-life, c: engine

#546 Harden safety around dead and badly typed `Gd<T>` instances
  godot-codegen/src/class_generator.rs
  godot-core/src/builtin/meta/class_name.rs
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/engine/mod.rs
  godot-core/src/lib.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/raw.rs
  godot-core/src/obj/rtti.rs
  godot-core/src/storage.rs
  godot-macros/src/class/data_models/func.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
  itest/rust/src/framework/mod.rs
  itest/rust/src/object_tests/mod.rs
  itest/rust/src/object_tests/object_swap_test.rs
  itest/rust/src/object_tests/object_test.rs
Labels: bug, c: core, c: ffi, ub

#547 `Global<T>` to store global variables ergonomically
  godot-core/src/builtin/meta/class_name.rs
  godot-core/src/builtin/meta/registration/constant.rs
  godot-core/src/engine/mod.rs
  godot-core/src/lib.rs
  godot-core/src/obj/rtti.rs
  godot-core/src/registry.rs
  godot-ffi/src/global.rs
  godot-ffi/src/lib.rs
Labels: feature, c: core

#548 CI: add `cargo-deny` and `cargo-machete`
  .github/other/deny.toml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  examples/dodge-the-creeps/rust/Cargo.toml
  godot-ffi/Cargo.toml
  godot-fmt/Cargo.toml
  itest/rust/Cargo.toml
Labels: feature, c: tooling
