Repository godot-rust/gdext, pull requests merged in 2024-09, with the labels that each got.

#872 OpenXR is not available on Web
  godot-codegen/src/special_cases/special_cases.rs
Labels: bug, c: engine

#879 Implement Debug for InitState and OnReady
  godot-core/src/obj/onready.rs
Labels: feature, c: core

#883 Virtual methods take `Option<Gd<T>>` (unless whitelisted)
  Cargo.toml
  godot-codegen/src/generator/default_parameters.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/special_cases/special_cases.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: bug, c: register

#884 `#[class]` attribute: rename `hidden` -> `internal`, deprecate `editor_plugin`
  godot-core/src/deprecated.rs
  godot-core/src/registry/class.rs
  godot-core/src/registry/plugin.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/lib.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: quality-of-life, c: register

#875 Make arrays exportable only when their inner type is exportable
  godot-core/src/builtin/collections/array.rs
  godot-core/src/registry/property.rs
Labels: bug, c: core

#888 Get rid of placeholder names like "foo"
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
  itest/rust/src/builtin_tests/convert_test.rs
  itest/rust/src/object_tests/property_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: c: tooling

#873 Don't abort on panic inside Callable
  godot-core/src/builtin/callable.rs
  godot-core/src/meta/signature.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
Labels: bug, c: core

#889 Disable panic hooks in Release mode
  godot-core/src/private.rs
Labels: quality-of-life, c: core

#895 Support meta `char16` and `char32`
  godot-codegen/src/conv/type_conversions.rs
Labels: quality-of-life, c: engine

#894 Add Mul operator for Quaternion + Vector3.
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/vectors/vector_macros.rs
  itest/rust/src/builtin_tests/geometry/quaternion_test.rs
Labels: feature, c: core

#876 Add a doc to point users to kwarg builders
  godot-codegen/src/generator/default_parameters.rs
Labels: quality-of-life, c: engine

#896 Resolve doc warning with global enums
  godot-core/src/global/mod.rs
Labels: documentation, quality-of-life

#891 Support Unicode class names (Godot 4.4+)
  godot-codegen/src/generator/classes.rs
  godot-core/src/meta/class_name.rs
  godot-core/src/registry/class.rs
  godot-macros/src/class/derive_godot_class.rs
  itest/rust/src/register_tests/mod.rs
  itest/rust/src/register_tests/naming_tests.rs
Labels: feature, c: register

#899 Unicode `ClassName::new_cached()`; adjust test
  godot-core/src/meta/class_name.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/object_tests/class_name_test.rs
  itest/rust/src/register_tests/naming_tests.rs
Labels: quality-of-life, c: core

#901 Deprecate instance utilities in `godot::global`
  godot-core/src/global/mod.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/instance_id.rs
  godot-core/src/obj/raw_gd.rs
  itest/rust/src/engine_tests/utilities_test.rs
  itest/rust/src/object_tests/object_test.rs
Labels: quality-of-life, c: engine

#897 Update list of experimental classes
  godot-codegen/src/special_cases/special_cases.rs
Labels: quality-of-life, c: engine

#898 Add `as_str` and `godot_name` to non-bitfield enums
  godot-codegen/src/generator/enums.rs
  godot-core/src/builtin/vectors/vector_axis.rs
  godot-core/src/obj/traits.rs
  itest/rust/src/object_tests/enum_test.rs
Labels: feature, c: engine

#902 Add `#[rpc]` attribute to user-defined functions
  godot-core/src/docs.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/rpc_config.rs
  godot-core/src/obj/traits.rs
  godot-core/src/private.rs
  godot-core/src/registry/callbacks.rs
  godot-core/src/registry/class.rs
  godot-core/src/registry/plugin.rs
  godot-macros/Cargo.toml
  godot-macros/src/class/data_models/field_var.rs
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/data_models/inherent_impl.rs
  godot-macros/src/class/data_models/rpc.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/class/mod.rs
  godot-macros/src/lib.rs
  godot/Cargo.toml
  godot/src/lib.rs
  itest/rust/src/register_tests/constant_test.rs
  itest/rust/src/register_tests/mod.rs
  itest/rust/src/register_tests/rpc_test.rs
Labels: feature, c: register

#906 Pass-by-ref for non-`Copy` builtins (backend)
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/global/mod.rs
  godot-core/src/meta/godot_convert/impls.rs
  godot-core/src/meta/godot_convert/mod.rs
  godot-core/src/meta/ref_arg.rs
  godot-core/src/meta/signature.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/object_arg.rs
  godot-core/src/obj/raw_gd.rs
  godot-ffi/src/godot_ffi.rs
  godot-macros/Cargo.toml
  godot-macros/src/docs/markdown_converter.rs
  itest/rust/src/object_tests/object_test.rs
Labels: feature, c: ffi, c: engine, performance

#904 Detect whether virtual functions are required to override
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/models/json.rs
  godot-codegen/src/special_cases/special_cases.rs
Labels: feature, status: upstream, c: engine
