Repository godot-rust/gdext, pull requests merged in 2024-08, with the labels that each got.

#829 cargo-deny maintenance: update to advisories/licenses v2
  .github/other/deny.toml
  .github/workflows/full-ci.yml
Labels: quality-of-life, c: tooling

#830 Fix `Ex*` builder parameters: `ObjectArg<T>` -> `impl AsObjectArg<T>`
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/generator/default_parameters.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/models/domain.rs
Labels: bug, c: engine

#815 Fix doc comments not showing up if only some class members are documented
  godot-core/src/docs.rs
  godot-core/src/registry/plugin.rs
  godot-macros/src/docs.rs
  godot/tests/docs.rs
  godot/tests/test_data/docs.xml
  itest/rust/src/register_tests/constant_test.rs
Labels: bug, c: register

#831 `RawGd`: cache pointer to internal storage
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/obj/rtti.rs
  godot-core/src/storage/instance_storage.rs
Labels: c: core, performance

#827 Add `From<[Elem; N]>` for Packed Array and Optimize `From<Vec<Elem>>`
  godot-core/src/builtin/collections/packed_array.rs
  itest/rust/src/builtin_tests/containers/packed_array_test.rs
Labels: feature, c: core

#833 Overview about type conversions
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/meta/godot_convert/mod.rs
  godot-core/src/meta/mod.rs
  godot-core/src/obj/gd.rs
Labels: documentation, c: core

#834 `ClassName` now dynamic and faster
  godot-codegen/src/generator/classes.rs
  godot-codegen/src/util.rs
  godot-core/src/docs.rs
  godot-core/src/init/mod.rs
  godot-core/src/meta/class_name.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/signature.rs
  godot-core/src/obj/bounds.rs
  godot-core/src/private.rs
  godot-core/src/registry/class.rs
  godot-ffi/src/toolbox.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/util/mod.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/object_tests/class_name_test.rs
  itest/rust/src/object_tests/class_rename_test.rs
  itest/rust/src/object_tests/mod.rs
Labels: c: core, performance

#836 Fix `Array<T>` registered without element type
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/meta/godot_convert/impls.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/onready.rs
  godot-core/src/registry/property.rs
  godot-macros/src/class/data_models/property.rs
  itest/rust/src/object_tests/get_property_list_test.rs
Labels: bug, c: register

#838 Simplify property hint APIs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/meta/godot_convert/impls.rs
  godot-core/src/meta/method_info.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/property_info.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/gd.rs
  godot-core/src/registry/property.rs
  godot-macros/src/class/data_models/property.rs
  godot-macros/src/derive/derive_export.rs
  godot-macros/src/derive/derive_var.rs
  godot/src/prelude.rs
  itest/rust/build.rs
  itest/rust/src/object_tests/property_template_test.rs
  itest/rust/src/object_tests/property_test.rs
Labels: quality-of-life, c: register, breaking-change

#839 Disallow `Export` if class doesn't inherit `Node` or `Resource`
  godot-codegen/src/context.rs
  godot-codegen/src/generator/classes.rs
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry/property.rs
  godot-macros/src/class/derive_godot_class.rs
Labels: quality-of-life, c: register, breaking-change

#840 Rewrite `#[var]` + `#[export]` registration to use type-safe API behind scenes
  godot-core/src/registry/godot_register_wrappers.rs
  godot-core/src/registry/method.rs
  godot-core/src/registry/mod.rs
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/data_models/property.rs
  godot-macros/src/util/mod.rs
  godot/src/lib.rs
Labels: quality-of-life, c: register

#842 Dev-dependencies are enabling full codegen
  godot-core/Cargo.toml
  godot-core/src/obj/gd.rs
  godot-macros/Cargo.toml
Labels: bug, c: tooling

#843 `#[derive(GodotClass)]` enums can now have complex ordinal expressions
  examples/hot-reload/rust/src/lib.rs
  godot-macros/src/derive/data_models/c_style_enum.rs
  godot-macros/src/derive/derive_from_godot.rs
  godot-macros/src/derive/derive_godot_convert.rs
  godot-macros/src/derive/derive_to_godot.rs
  itest/rust/src/register_tests/derive_godotconvert_test.rs
  itest/rust/src/register_tests/mod.rs
Labels: feature, c: register

#846 Fix user-after-free in `AsObjectArg` pass-by-value (in default-param methods)
  .github/workflows/full-ci.yml
  godot-codegen/src/generator/default_parameters.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/util.rs
  godot-core/src/meta/sealed.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/object_arg.rs
  godot-core/src/tools/save_load.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/engine_tests/node_test.rs
  itest/rust/src/object_tests/object_arg_test.rs
Labels: bug, c: engine, ub

#844 Shorten `#[init(default = ...)]` to `#[init(val = ...)]`
  godot-core/src/deprecated.rs
  godot-core/src/obj/onready.rs
  godot-macros/src/class/data_models/field.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/docs.rs
  godot-macros/src/lib.rs
  itest/rust/build.rs
  itest/rust/src/object_tests/onready_test.rs
  itest/rust/src/register_tests/var_test.rs
Labels: quality-of-life, c: register

#848 `RawGd::move_return_ptr` with `PtrcallType::Virtual` leaks reference
  godot-core/src/obj/raw_gd.rs
Labels: bug, c: ffi

#771 Required virtual methods should be required at compile-time
  .github/composite/godot-itest/action.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-codegen/src/generator/builtins.rs
  godot-codegen/src/generator/classes.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/generator/utility_functions.rs
  godot-codegen/src/generator/virtual_traits.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/meta/signature.rs
  godot-core/src/obj/script.rs
  itest/rust/Cargo.toml
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/engine_tests/mod.rs
  itest/rust/src/engine_tests/native_audio_structures_test.rs
  itest/rust/src/engine_tests/native_structures_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
  itest/rust/src/register_tests/keyword_parameters_test.rs
Labels: feature, c: register, breaking-change

#847 `AsObjectArg<T>` is now implemented for `&mut Gd<T>`
  godot-core/src/obj/object_arg.rs
  itest/rust/src/object_tests/object_arg_test.rs
Labels: quality-of-life, c: engine

#850 Validate that virtual extension classes require `#[class(tool)]`
  godot-core/src/obj/script.rs
  godot-core/src/registry/class.rs
  godot-macros/src/class/derive_godot_class.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
Labels: quality-of-life, c: register

#853 Best-effort checks for `Array<Integer>` conversions; fix `Debug` for variants containing typed arrays
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/special_cases/codegen_special_cases.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/meta/array_type_info.rs
  godot-core/src/meta/error/convert_error.rs
  godot-core/src/meta/godot_convert/impls.rs
  godot-core/src/meta/godot_convert/mod.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/property_info.rs
  godot-core/src/meta/traits.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
Labels: bug, quality-of-life, c: core, c: ffi

#849 Support GDExtensionScriptInstanceInfo3 in 4.3
  godot-core/src/obj/script.rs
  godot-ffi/src/conv.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
Labels: quality-of-life, c: engine, breaking-change

#852 Validate that editor plugin classes require `#[class(tool)]`
  godot-macros/src/class/derive_godot_class.rs
  itest/rust/src/register_tests/keyword_parameters_test.rs
Labels: quality-of-life, c: register

#795 Implement `GodotConvert` for `Vec<T>`, `[T; N]` and `&[T]`
  .github/workflows/full-ci.yml
  .github/workflows/update-docs.yml
  examples/dodge-the-creeps/rust/Cargo.toml
  godot-bindings/Cargo.toml
  godot-cell/Cargo.toml
  godot-codegen/Cargo.toml
  godot-core/Cargo.toml
  godot-core/src/meta/godot_convert/impls.rs
  godot-core/src/private.rs
  godot-ffi/Cargo.toml
  godot-macros/Cargo.toml
  godot/Cargo.toml
  itest/repo-tweak/Cargo.toml
  itest/rust/Cargo.toml
  itest/rust/src/builtin_tests/convert_test.rs
Labels: feature, c: core

#856 Enable `ResourceLoader::load_threaded_*` with `experimental-threads`
  godot-codegen/Cargo.toml
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/Cargo.toml
  godot-ffi/Cargo.toml
Labels: quality-of-life, c: engine

#859 Godot 4.3 support in CI and `api-4-3` feature
  .github/other/patch-prebuilt.sh
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-bindings/Cargo.toml
  godot-bindings/build.rs
  godot-bindings/src/import.rs
  godot-core/Cargo.toml
  godot-core/src/obj/script.rs
  godot-ffi/Cargo.toml
  godot/Cargo.toml
  itest/repo-tweak/src/main.rs
Labels: feature, c: tooling

#855 Handle typed array metadata
  godot-codegen/src/conv/type_conversions.rs
Labels: feature, c: core

#860 Dependency update, more tests for vector angle functions
  godot-codegen/Cargo.toml
  godot-core/Cargo.toml
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector_macros.rs
  godot-macros/Cargo.toml
  itest/rust/src/builtin_tests/geometry/vector_test/vector2_test.rs
  itest/rust/src/builtin_tests/geometry/vector_test/vector3_test.rs
Labels: quality-of-life, c: core

#862 Implement `From<&[char]>` for `GString`
  godot-core/src/builtin/string/gstring.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
Labels: feature, c: core

#865 Bugfix - Vector3::sign gives incorrect results due to i32 conversion
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector4.rs
  godot-core/src/builtin/vectors/vector4i.rs
  godot-core/src/builtin/vectors/vector_macros.rs
Labels: bug, c: core

#866 Add godot-convert impl for const u8 pointers
  godot-core/src/meta/godot_convert/impls.rs
Labels: quality-of-life, c: engine

#861 Generate valid XML from doc comments
  godot-core/src/docs.rs
  godot-macros/src/docs.rs
  godot-macros/src/docs/markdown_converter.rs
  godot/tests/docs.rs
  godot/tests/test_data/docs.xml
Labels: feature, c: register
