Repository godot-rust/gdext, pull requests merged in 2024-01, with the labels that each got.

#501 Add the ability to make reentrant `&mut self` calls
  .github/workflows/full-ci.yml
  Cargo.toml
  examples/dodge-the-creeps/rust/src/hud.rs
  examples/dodge-the-creeps/rust/src/main_scene.rs
  examples/dodge-the-creeps/rust/src/mob.rs
  examples/dodge-the-creeps/rust/src/player.rs
  godot-cell/Cargo.toml
  godot-cell/src/borrow_state.rs
  godot-cell/src/guards.rs
  godot-cell/src/lib.rs
  godot-cell/tests/mock.rs
  godot-core/Cargo.toml
  godot-core/src/builtin/projection.rs
  godot-core/src/lib.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/guards.rs
  godot-core/src/obj/raw.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-core/src/storage.rs
  godot-core/src/storage/multi_threaded.rs
  godot-core/src/storage/single_threaded.rs
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/derive_godot_class.rs
  itest/rust/Cargo.toml
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/object_tests/base_test.rs
  itest/rust/src/object_tests/mod.rs
  itest/rust/src/object_tests/reentrant_test.rs
  itest/rust/src/register_tests/func_test.rs
Labels: feature, c: ffi

#553 Implement Display and Debug for Builtins
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/packed_array.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
  itest/rust/src/builtin_tests/containers/packed_array_test.rs
Labels: feature, c: core

#552 Split `GodotClass`/`Bounds`, `UserClass` -> `NewGd`/`NewAlloc`
  examples/dodge-the-creeps/rust/src/main_scene.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/util.rs
  godot-core/src/builder/method.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/meta/class_name.rs
  godot-core/src/engine/mod.rs
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/raw.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-macros/src/class/derive_godot_class.rs
  godot/src/lib.rs
  itest/rust/src/benchmarks/mod.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/builtin_tests/convert_test.rs
  itest/rust/src/engine_tests/native_structures_test.rs
  itest/rust/src/engine_tests/node_test.rs
  itest/rust/src/engine_tests/save_load_test.rs
  itest/rust/src/object_tests/base_test.rs
  itest/rust/src/object_tests/object_swap_test.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/property_template_test.rs
  itest/rust/src/object_tests/property_test.rs
  itest/rust/src/object_tests/reentrant_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
  itest/rust/src/register_tests/option_ffi_test.rs
Labels: quality-of-life, c: core, c: bind

#555 Rename `bind` -> `register`; improve docs
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/real.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/rid.rs
  godot-core/src/log.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/onready.rs
  godot-core/src/property.rs
  godot-macros/src/class/data_models/field_export.rs
  godot-macros/src/class/data_models/field_var.rs
  godot-macros/src/class/data_models/property.rs
  godot-macros/src/derive/derive_export.rs
  godot-macros/src/derive/derive_var.rs
  godot-macros/src/derive/mod.rs
  godot-macros/src/lib.rs
  godot-macros/src/util/mod.rs
  godot/src/lib.rs
  godot/src/prelude.rs
  itest/rust/build.rs
  itest/rust/src/benchmarks/mod.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/engine_tests/native_structures_test.rs
  itest/rust/src/engine_tests/save_load_test.rs
  itest/rust/src/framework/runner.rs
  itest/rust/src/object_tests/object_swap_test.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/onready_test.rs
  itest/rust/src/object_tests/property_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
  itest/rust/src/register_tests/derive_variant_test.rs
Labels: documentation, quality-of-life, c: bind

#558 `Gd::upcast_ref()` + `Gd::upcast_mut()`
  godot-codegen/src/class_generator.rs
  godot-codegen/src/special_cases.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/meta/class_name.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/engine/mod.rs
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/raw.rs
  godot-core/src/obj/rtti.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-ffi/src/toolbox.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/object_tests/object_swap_test.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/reentrant_test.rs
Labels: feature, c: core

#559 Impl Iterator::size_hint() for builtin::Array::Iter
  godot-core/src/builtin/array.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
Labels: quality-of-life, c: core

#564 Add `hide` annotation to classes
  godot-core/src/registry.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/lib.rs
Labels: feature, c: register

#561 #310 - Array builtin completeness
  godot-core/src/builtin/array.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
Labels: feature, c: core

#565 #310 Quaternion Function Completeness
  godot-core/src/builtin/quaternion.rs
  itest/rust/src/builtin_tests/geometry/quaternion_test.rs
Labels: feature, c: core

#570 Implement builtin type `Signal`
  godot-core/src/builtin/macros.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/others.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/property.rs
  itest/rust/build.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
Labels: feature, c: core

#571 bash is not always in /bin/bash
  check.sh
Labels: bug, c: tooling

#573 Massive refactor: split codegen into JSON and domain models
  check.sh
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/codegen_special_cases.rs
  godot-codegen/src/context.rs
  godot-codegen/src/conv/name_conversions.rs
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/models/json.rs
  godot-codegen/src/models/mod.rs
  godot-codegen/src/models/tokens.rs
  godot-codegen/src/special_cases.rs
  godot-codegen/src/tests.rs
  godot-codegen/src/util.rs
  godot-codegen/src/utilities_generator.rs
  godot-ffi/src/opaque.rs
Labels: quality-of-life, c: tooling

#567 Add `get` and `set` as virtual methods
  godot-codegen/src/class_generator.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-macros/src/class/godot_api.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: feature, c: register

#574 Refactor II: split code generators into specialized modules
  godot-codegen/src/central_generator.rs
  godot-codegen/src/class_generator.rs
  godot-codegen/src/context.rs
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/generator/builtins.rs
  godot-codegen/src/generator/central_files.rs
  godot-codegen/src/generator/classes.rs
  godot-codegen/src/generator/constants.rs
  godot-codegen/src/generator/default_parameters.rs
  godot-codegen/src/generator/docs.rs
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/generator/extension_interface.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/generator/gdext_build_struct.rs
  godot-codegen/src/generator/lifecycle_builtins.rs
  godot-codegen/src/generator/method_tables.rs
  godot-codegen/src/generator/mod.rs
  godot-codegen/src/generator/native_structures.rs
  godot-codegen/src/generator/notifications.rs
  godot-codegen/src/generator/utility_functions.rs
  godot-codegen/src/generator/virtual_traits.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/models/mod.rs
  godot-codegen/src/special_cases/codegen_special_cases.rs
  godot-codegen/src/special_cases/mod.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-codegen/src/tests.rs
  godot-codegen/src/util.rs
  godot-codegen/src/utilities_generator.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry.rs
  godot-macros/src/class/godot_api.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: quality-of-life

#576 Prevent `#[export]` with `OnReady`; document `PackedArray` var/export behavior
  godot-core/src/builtin/packed_array.rs
  godot-core/src/obj/onready.rs
  itest/rust/src/object_tests/onready_test.rs
Labels: quality-of-life, c: register

#575 More robust duplicate detection during class registration
  godot-core/src/lib.rs
  godot-core/src/registry.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/class/godot_api.rs
  itest/rust/src/register_tests/constant_test.rs
Labels: bug, c: register

#577 `#[base]` attribute is no longer necessary
  examples/dodge-the-creeps/rust/src/hud.rs
  examples/dodge-the-creeps/rust/src/main_scene.rs
  examples/dodge-the-creeps/rust/src/mob.rs
  examples/dodge-the-creeps/rust/src/player.rs
  godot-codegen/src/generator/virtual_traits.rs
  godot-core/src/lib.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  godot-macros/src/class/data_models/field.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/lib.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/engine_tests/codegen_test.rs
  itest/rust/src/object_tests/base_test.rs
  itest/rust/src/object_tests/onready_test.rs
  itest/rust/src/object_tests/property_test.rs
  itest/rust/src/object_tests/reentrant_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
  itest/rust/src/register_tests/func_test.rs
Labels: quality-of-life, c: register

#572 Fix build warnings
  godot-core/src/engine/mod.rs
  godot-core/src/obj/raw.rs
Labels: quality-of-life

#587 derive Clone, PartialEq, Debug for native structs
  godot-codegen/src/generator/native_structures.rs
  itest/rust/src/engine_tests/native_structures_test.rs
Labels: feature, c: engine

#586 Add `StringName::transient_ord()`
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/builtin/variant/mod.rs
  godot/src/lib.rs
  godot/src/prelude.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/geometry/rect2i_test.rs
  itest/rust/src/builtin_tests/geometry/transform2d_test.rs
  itest/rust/src/builtin_tests/geometry/transform3d_test.rs
  itest/rust/src/builtin_tests/string/string_name_test.rs
  itest/rust/src/framework/mod.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/register_tests/option_ffi_test.rs
Labels: feature, c: core
