Repository godot-rust/gdext, pull requests merged in 2024-11, with the labels that each got.

#936 Update hint_string tests to account for Godot 4.4 floats with `.0` formatting
  godot-core/src/registry/property.rs
  itest/rust/src/object_tests/property_template_test.rs
Labels: quality-of-life, status: upstream, c: register

#937 codegen-rustfmt: use 2021 edition
  godot-codegen/src/lib.rs
Labels: bug, c: tooling

#941 CI runner updates
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  .github/workflows/update-docs.yml
Labels: quality-of-life, c: tooling

#942 Fix `register-docs` feature not being tested
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-core/Cargo.toml
  godot-core/src/docs.rs
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/registry/class.rs
  godot-core/src/registry/plugin.rs
  godot-macros/Cargo.toml
  godot-macros/src/class/data_models/field.rs
  godot-macros/src/class/data_models/inherent_impl.rs
  godot-macros/src/class/data_models/interface_trait_impl.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/docs.rs
  godot-macros/src/docs/markdown_converter.rs
  godot-macros/src/lib.rs
  godot/Cargo.toml
  itest/rust/Cargo.toml
  itest/rust/src/register_tests/constant_test.rs
  itest/rust/src/register_tests/mod.rs
  itest/rust/src/register_tests/register_docs_test.rs
  itest/rust/src/register_tests/res/registered_docs.xml
Labels: bug, c: register, c: tooling

#926 in debug, include location information in error message on panic
  godot-core/src/private.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
  itest/rust/src/object_tests/object_test.rs
Labels: bug, c: core

#943 Remove `to_2d()` + `to_3d()`; clean up `ApiParam`
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector_macros.rs
  godot-core/src/meta/as_arg.rs
  godot-core/src/obj/gd.rs
Labels: quality-of-life, c: core

#944 `Callable` is now passed by-ref
  examples/dodge-the-creeps/rust/src/hud.rs
  examples/dodge-the-creeps/rust/src/main_scene.rs
  godot-codegen/src/context.rs
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/models/domain.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/meta/rpc_config.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/reentrant_test.rs
Labels: feature, c: core, c: engine, breaking-change

#945 CI: skip `notify-docs` job when running in a fork
  .github/workflows/update-docs.yml
Labels: quality-of-life, c: tooling

#933 workflows/full-ci: allow manually triggering the workflow (mostly useful for forks)
  .github/workflows/full-ci.yml
Labels: quality-of-life, c: tooling

#947 Require `AsObjectArg` pass-by-ref, consistent with `AsArg`
  godot-core/src/meta/traits.rs
  godot-core/src/obj/object_arg.rs
  godot-core/src/obj/script.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry/property.rs
  godot-core/src/tools/save_load.rs
  itest/rust/src/engine_tests/native_audio_structures_test.rs
  itest/rust/src/engine_tests/node_test.rs
  itest/rust/src/engine_tests/save_load_test.rs
  itest/rust/src/object_tests/object_arg_test.rs
  itest/rust/src/object_tests/object_swap_test.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/onready_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
  itest/rust/src/register_tests/rpc_test.rs
Labels: quality-of-life, c: core

#948 Cleanup around `godot::meta` argument conversions
  godot-codegen/src/util.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/args/cow_arg.rs
  godot-core/src/meta/args/mod.rs
  godot-core/src/meta/args/object_arg.rs
  godot-core/src/meta/args/ref_arg.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/sealed.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/raw_gd.rs
  godot/src/lib.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
Labels: documentation, quality-of-life, c: core

#949 Add docs for `#[rpc]`
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/meta/mod.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry/mod.rs
  godot-core/src/registry/rpc_config.rs
  godot-macros/src/class/data_models/rpc.rs
  godot-macros/src/lib.rs
  godot/src/lib.rs
  itest/rust/src/register_tests/rpc_test.rs
Labels: documentation, c: register

#952 Use `GDExtensionCallableCustomInfo2` instead of deprecated `GDExtensionCallableCustomInfo`.
  .github/other/deny.toml
  godot-core/src/builtin/callable.rs
Labels: quality-of-life, c: register

#914 Add `Variant::object_id()`
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/builtin/variant/mod.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
Labels: feature, c: core
