Repository godot-rust/gdext, pull requests merged in 2024-12, with the labels that each got.

#956 Clippy (elided lifetimes) + rustfmt
  godot-cell/src/blocking_guards.rs
  godot-cell/src/guards.rs
  godot-codegen/src/context.rs
  godot-core/src/builder/mod.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/args/cow_arg.rs
  godot-core/src/meta/args/ref_arg.rs
  godot-core/src/meta/godot_convert/impls.rs
  godot-core/src/meta/signature.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/obj/script.rs
  godot-core/src/registry/property.rs
  godot-ffi/src/plugins.rs
  godot-ffi/src/string_cache.rs
  godot-macros/src/derive/derive_godot_convert.rs
Labels: quality-of-life, c: tooling

#953 `DynGd<T, D>` smart pointer for Rust-side dynamic dispatch
  godot-core/src/classes/class_runtime.rs
  godot-core/src/meta/args/object_arg.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/guards.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/obj/traits.rs
  godot-macros/src/class/godot_dyn.rs
  godot-macros/src/class/mod.rs
  godot-macros/src/lib.rs
  godot/src/lib.rs
  godot/src/prelude.rs
  itest/rust/src/object_tests/dyn_gd_test.rs
  itest/rust/src/object_tests/mod.rs
Labels: feature, c: core

#950 Add test that checks if custom callables don't crash when Err() is returned.
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: quality-of-life, c: core

#957 `sys::short_type_name`, conversions and relaxed `GodotType`
  godot-core/src/builtin/collections/array.rs
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/array_type_info.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/property_info.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/gd.rs
  godot-ffi/src/conv.rs
  godot-ffi/src/toolbox.rs
Labels: quality-of-life, c: core

#958 `DynGd` trait support + `FromGodot` "re-enrichment" conversions
  godot-core/src/builtin/collections/array.rs
  godot-core/src/classes/class_runtime.rs
  godot-core/src/meta/error/call_error.rs
  godot-core/src/meta/error/convert_error.rs
  godot-core/src/meta/sealed.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  godot-core/src/private.rs
  godot-core/src/registry/class.rs
  godot-core/src/registry/plugin.rs
  godot-ffi/src/toolbox.rs
  godot-macros/src/class/godot_dyn.rs
  godot-macros/src/util/mod.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/object_tests/dyn_gd_test.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
  itest/rust/src/object_tests/object_test.rs
Labels: feature, c: core, c: ffi

#959 `#[gdextension]` macro: rename `entry_point` -> `entry_symbol` and write docs
  godot-core/src/deprecated.rs
  godot-core/src/init/mod.rs
  godot-macros/src/gdextension.rs
  itest/rust/src/lib.rs
Labels: documentation, quality-of-life, c: register

#960 Helpful doc aliases: `func`, `var`, `init`, ...
  godot-core/src/builtin/math/float.rs
  godot-core/src/init/mod.rs
  godot-core/src/meta/godot_convert/mod.rs
  godot-core/src/registry/property.rs
  godot-macros/src/derive/derive_godot_convert.rs
  godot-macros/src/lib.rs
  godot/src/lib.rs
Labels: documentation, c: register

#964 Minor signal cleanup; prevent `#[signal]` from being used in secondary impl blocks
  godot-core/src/init/mod.rs
  godot-macros/src/class/data_models/inherent_impl.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/framework/mod.rs
Labels: quality-of-life, c: core

#965 `Callable::from_local_fn()` + `Callable::from_sync_fn()`
  godot-core/src/builtin/callable.rs
  godot-ffi/src/binding/single_threaded.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/framework/mod.rs
Labels: feature, c: core, c: ffi

#920 More accurately provide spans to errors in the `GodotClass` macro
  godot-macros/src/class/data_models/field.rs
  godot-macros/src/class/data_models/field_export.rs
  godot-macros/src/class/data_models/field_var.rs
  godot-macros/src/class/data_models/property.rs
  godot-macros/src/class/derive_godot_class.rs
Labels: quality-of-life, c: register

#969 Improve docs in `DynGd` (re-enrichment) + Cargo features
  godot-core/src/obj/dyn_gd.rs
  godot-macros/src/class/godot_dyn.rs
  godot/src/lib.rs
Labels: documentation, c: core

#971 Improve some proc-macro attribute error messages
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/class/godot_api.rs
  godot-macros/src/class/godot_dyn.rs
  godot-macros/src/derive/data_models/godot_convert.rs
Labels: quality-of-life, c: register

#975 Add required virtual method `IScriptInstance::get_doc_class_name()` in test
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
Labels: quality-of-life, c: engine

#976 Codegen can directly expose `Inner*` builtin methods
  godot-codegen/src/generator/builtins.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/lib.rs
Labels: feature, c: core

#977 Make builtin methods with varargs get generated
  godot-codegen/src/generator/builtins.rs
  godot-codegen/src/generator/classes.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/generator/utility_functions.rs
  godot-codegen/src/generator/virtual_traits.rs
  godot-codegen/src/special_cases/codegen_special_cases.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/meta/signature.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: feature, c: core, c: ffi

#978 Provide feature parity for `Vector2i` with Godot
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/vectors/vector_macros.rs
Labels: feature, c: core

#983 Provide feature parity for `Projection` with Godot
  godot-core/src/builtin/projection.rs
Labels: feature, c: core, c: engine

#979 Flesh out `Callable` functions
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/classes/class_runtime.rs
  godot-core/src/meta/error/convert_error.rs
  godot-core/src/private.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: feature, c: core, c: engine

#981 Provide feature parity for `Quaternion` with Godot
  godot-core/src/builtin/quaternion.rs
Labels: feature, c: core, c: engine

#989 Support static functions in `Callable`
  godot-core/src/builtin/callable.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: feature, c: core

#990 Clean up `Callable` + tests, fix `check.sh test`
  godot-core/src/builtin/callable.rs
  godot-macros/src/lib.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: quality-of-life, c: core

#980 Add many `GString`/`StringName` methods
  Changelog.md
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_macros.rs
  godot-core/src/builtin/string/string_name.rs
  godot-ffi/src/toolbox.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
  itest/rust/src/engine_tests/codegen_test.rs
Labels: feature, c: core, c: engine

#982 Provide feature parity for `NodePath` with `Godot`
  .gitignore
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/string/node_path.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
  itest/rust/src/builtin_tests/string/node_path_test.rs
  itest/rust/src/framework/mod.rs
Labels: feature, c: core, c: engine

#994 Add encoding, string conversion and compression methods to `PackedByteArray`
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/lib.rs
  itest/rust/src/builtin_tests/containers/packed_array_test.rs
Labels: feature, c: core
