Repository godot-rust/gdext, pull requests merged in 2024-05, with the labels that each got.

#685 Update tests, expecting static functions to use ptrcall
  itest/godot/input/GenFfiTests.template.gd
Labels: quality-of-life, c: ffi

#686 Improve codegen around `#[func(virtual)]` + smaller refactoring
  godot-bindings/Cargo.toml
  godot-bindings/src/godot_exe.rs
  godot-bindings/src/header_gen.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-codegen/src/util.rs
  godot-macros/src/class/data_models/constant.rs
  godot-macros/src/class/data_models/field_var.rs
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/data_models/inherent_impl.rs
  godot-macros/src/class/data_models/interface_trait_impl.rs
  godot-macros/src/class/data_models/signal.rs
  godot-macros/src/class/godot_api.rs
  godot-macros/src/class/mod.rs
  itest/rust/src/engine_tests/codegen_test.rs
Labels: quality-of-life, c: register

#689 Hot reload: test that properties are restored for Rust-constructed instances
  examples/hot-reload/godot/test/ReloadTest.gd
  examples/hot-reload/rust/src/lib.rs
  godot-ffi/src/lib.rs
Labels: quality-of-life, c: ffi

#688 New trait `ArrayElement` constrains what is allowed inside `Array<T>`
  godot-codegen/src/generator/builtins.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/meta/godot_convert/impls.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/obj/gd.rs
Labels: bug, c: core

#692 Improve trait errors with `#[diagnostic::on_unimplemented]`
  .github/composite/rust/action.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  .github/workflows/update-docs.yml
  examples/dodge-the-creeps/rust/Cargo.toml
  godot-bindings/Cargo.toml
  godot-cell/Cargo.toml
  godot-codegen/Cargo.toml
  godot-core/Cargo.toml
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/meta/godot_convert/mod.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/meta/signature.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/obj/traits.rs
  godot-core/src/private.rs
  godot-core/src/property.rs
  godot-ffi/Cargo.toml
  godot-ffi/src/extras.rs
  godot-ffi/src/toolbox.rs
  godot-macros/Cargo.toml
  godot/Cargo.toml
  itest/rust/Cargo.toml
Labels: quality-of-life, c: core

#699 Add `PackedVector4Array`
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/property.rs
  itest/rust/build.rs
Labels: feature, c: core

#700 Fix wrong conversions for `u64`
  godot-core/src/builtin/meta/call_error.rs
  godot-core/src/builtin/meta/godot_convert/convert_error.rs
  godot-core/src/builtin/meta/godot_convert/impls.rs
  godot-core/src/obj/instance_id.rs
  itest/godot/TestSuite.gd
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
  itest/rust/src/register_tests/conversion_test.rs
  itest/rust/src/register_tests/func_test.rs
  itest/rust/src/register_tests/mod.rs
Labels: bug, c: core

#676 Refactor `Enum` in codegen
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/generator/notifications.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain/enums.rs
Labels: quality-of-life

#702 Instead of `[patch]`, provide `api-*` cargo features to specify API levels.
  .github/composite/godot-itest/action.yml
  .github/other/deny.toml
  .github/other/patch-prebuilt.sh
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-bindings/Cargo.toml
  godot-bindings/src/godot_exe.rs
  godot-bindings/src/lib.rs
  godot-codegen/Cargo.toml
  godot-core/Cargo.toml
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/deprecated.rs
  godot-core/src/registry/mod.rs
  godot-ffi/Cargo.toml
  godot-ffi/src/toolbox.rs
  godot-macros/Cargo.toml
  godot/Cargo.toml
  godot/src/lib.rs
  itest/rust/Cargo.toml
Labels: feature, c: tooling

#705 Fix `#[var]` not overriding `#[export]`
  godot-macros/src/class/data_models/field_export.rs
  godot-macros/src/class/data_models/property.rs
  itest/rust/src/object_tests/property_test.rs
Labels: bug, c: register

#717 Update type strings according to how godot 4.3 exports them currently
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/property.rs
Labels: bug, c: register

#714 Add `GString::chars` for 4.1
  godot-core/src/builtin/string/gstring.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
Labels: quality-of-life, c: core

#687 Migrate crate-local `/gen` directories to `OUT_DIR`
  .github/composite/godot-itest/action.yml
  Cargo.toml
  godot-bindings/res/tweak.patch
  godot-bindings/src/godot_exe.rs
  godot-bindings/src/lib.rs
  godot-codegen/src/generator/extension_interface.rs
  godot-codegen/src/generator/mod.rs
  godot-codegen/src/lib.rs
  godot-core/build.rs
  godot-core/src/lib.rs
  godot-ffi/build.rs
  godot-ffi/src/compat/mod.rs
  godot-ffi/src/lib.rs
  itest/rust/build.rs
  itest/rust/src/register_tests/gdscript_ffi_test.rs
Labels: feature

#720 Clean up `Array` and `Dictionary` element access APIs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/dictionary.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
  itest/rust/src/engine_tests/native_structures_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: quality-of-life, c: core

#725 Make `Packed*Array` API more consistent with `Array`
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/packed_array.rs
  godot-ffi/src/toolbox.rs
  itest/rust/src/builtin_tests/containers/packed_array_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
  itest/rust/src/register_tests/constant_test.rs
Labels: feature, quality-of-life, c: core

#707 Add `get_property_list`
  godot-codegen/src/generator/virtual_traits.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry/callbacks.rs
  godot-core/src/registry/mod.rs
  godot-core/src/registry/property.rs
  godot-macros/src/class/data_models/interface_trait_impl.rs
  itest/rust/src/object_tests/get_property_list_test.rs
  itest/rust/src/object_tests/mod.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: feature, quality-of-life, c: register

#726 Treat `VariantType` and `VariantOperator` like regular engine enums
  godot-codegen/src/generator/central_files.rs
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/generator/mod.rs
  godot-codegen/src/lib.rs
  godot-codegen/src/models/domain/enums.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/dictionary.rs
  godot-core/src/builtin/meta/call_error.rs
  godot-core/src/builtin/meta/godot_convert/impls.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/rid.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector4.rs
  godot-core/src/builtin/vectors/vector4i.rs
  godot-core/src/deprecated.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/raw.rs
  godot-ffi/src/godot_ffi.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/builtin_tests/geometry/basis_test.rs
  itest/rust/src/builtin_tests/geometry/transform2d_test.rs
  itest/rust/src/builtin_tests/geometry/transform3d_test.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
  itest/rust/src/object_tests/property_test.rs
Labels: quality-of-life, c: core

#728 Exhaustive enums
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/models/domain/enums.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  itest/rust/src/builtin_tests/color_test.rs
  itest/rust/src/builtin_tests/geometry/basis_test.rs
  itest/rust/src/builtin_tests/geometry/rect2_test.rs
  itest/rust/src/builtin_tests/geometry/rect2i_test.rs
Labels: feature, c: core, c: engine

#729 Flatten modules - part I: merge to `godot::global`
  godot-codegen/src/generator/central_files.rs
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/generator/utility_functions.rs
  godot-codegen/src/models/domain/enums.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/color_constants.rs
  godot-core/src/builtin/meta/godot_convert/mod.rs
  godot-core/src/builtin/meta/mod.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/vectors/mod.rs
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector4.rs
  godot-core/src/builtin/vectors/vector4i.rs
  godot-core/src/builtin/vectors/vector_axis.rs
  godot-core/src/builtin/vectors/vector_macros.rs
  godot-core/src/builtin/vectors/vector_swizzle.rs
  godot-core/src/engine/io/gfile.rs
  godot-core/src/engine/mod.rs
  godot-core/src/global/mod.rs
  godot-core/src/global/print.rs
  godot-core/src/lib.rs
  godot-core/src/private.rs
  godot/src/lib.rs
  godot/src/prelude.rs
  itest/rust/src/engine_tests/node_test.rs
  itest/rust/src/engine_tests/utilities_test.rs
  itest/rust/src/framework/runner.rs
Labels: quality-of-life, c: engine

#732 Streamline modules - part II: `godot::extra`, notifications
  godot-codegen/src/conv/name_conversions.rs
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/generator/notifications.rs
  godot-core/src/builtin/array.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/meta/registration/method.rs
  godot-core/src/builtin/packed_array.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/engine/mod.rs
  godot-core/src/extras/gfile.rs
  godot-core/src/extras/io_error.rs
  godot-core/src/extras/mod.rs
  godot-core/src/extras/script_instance.rs
  godot-core/src/extras/translate.rs
  godot-core/src/global/mod.rs
  godot-core/src/global/save_load.rs
  godot-core/src/lib.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/guards.rs
  godot-core/src/obj/raw.rs
  godot-core/src/registry/property.rs
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/data_models/property.rs
  godot-macros/src/derive/derive_var.rs
  godot/src/lib.rs
  godot/src/prelude.rs
  itest/rust/build.rs
  itest/rust/src/benchmarks/mod.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/geometry/basis_test.rs
  itest/rust/src/builtin_tests/geometry/rect2_test.rs
  itest/rust/src/builtin_tests/geometry/rect2i_test.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/engine_tests/gfile_test.rs
  itest/rust/src/engine_tests/save_load_test.rs
  itest/rust/src/engine_tests/translate_test.rs
  itest/rust/src/object_tests/get_property_list_test.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/onready_test.rs
  itest/rust/src/object_tests/property_template_test.rs
  itest/rust/src/object_tests/property_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: quality-of-life, c: engine

#734 Integrate `godot-fmt` crate into `godot-codegen`
  Cargo.toml
  godot-codegen/Cargo.toml
  godot-codegen/src/formatter/benches/gdext_fmt_bench.rs
  godot-codegen/src/formatter/mod.rs
  godot-codegen/src/formatter/test-cases/ip_unix.rs.txt
  godot-codegen/src/formatter/test-cases/rendering_server.rs.txt
  godot-codegen/src/lib.rs
  godot-fmt/Cargo.toml
Labels: quality-of-life

#737 Remove `NotUniqueError`
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/gd.rs
  godot-core/src/tools/io_error.rs
  itest/rust/src/object_tests/object_test.rs
Labels: quality-of-life, c: core

#738 Streamline modules - part V: `IoError`, `Array`/`Dictionary` docs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/engine.rs
  godot-core/src/meta/error/io_error.rs
  godot-core/src/meta/error/mod.rs
  godot-core/src/tools/gfile.rs
  godot-core/src/tools/mod.rs
  godot-core/src/tools/save_load.rs
  godot/src/prelude.rs
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
Labels: documentation, quality-of-life, c: core

#730 Emit `rustc-check-cfg`
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-bindings/Cargo.toml
  godot-bindings/src/lib.rs
  godot-cell/Cargo.toml
  godot-codegen/Cargo.toml
  godot-codegen/src/generator/gdext_build_struct.rs
  godot-core/Cargo.toml
  godot-ffi/Cargo.toml
  godot-macros/Cargo.toml
  godot/Cargo.toml
  itest/rust/Cargo.toml
  itest/rust/build.rs
Labels: quality-of-life, c: tooling

#739 Fix snapped on impl_float_ext
  godot-core/src/builtin/math/float.rs
Labels: bug, c: core
