Repository godot-rust/gdext, pull requests merged in 2025-06, with the labels that each got.

#1082 Implement `XformInv<...>` for `Transform2D`, `Transform3D`, `Basis`.
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/math/mod.rs
  godot-core/src/builtin/math/xform.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  itest/rust/src/builtin_tests/common.rs
  itest/rust/src/builtin_tests/geometry/basis_test.rs
  itest/rust/src/builtin_tests/geometry/transform2d_test.rs
  itest/rust/src/builtin_tests/geometry/transform3d_test.rs
  itest/rust/src/builtin_tests/mod.rs
Labels: feature, c: core

#1117 Implement GString concatenation operator
  godot-core/src/global/mod.rs
  godot-core/src/global/print.rs
  itest/rust/src/engine_tests/utilities_test.rs
Labels: feature, c: core

#1183 Support `@export_storage` attribute
  godot-core/src/registry/property.rs
  godot-macros/src/class/data_models/field_export.rs
  godot-macros/src/class/data_models/property.rs
  godot-macros/src/lib.rs
  itest/rust/build.rs
  itest/rust/src/object_tests/property_template_test.rs
Labels: feature, c: register

#1161 String formatting: support padding, alignment and precision
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/global/print.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
  itest/rust/src/builtin_tests/string/node_path_test.rs
  itest/rust/src/builtin_tests/string/string_name_test.rs
  itest/rust/src/builtin_tests/string/string_test_macros.rs
Labels: feature, c: core

#1176 Switch from 'Option' to 'ManuallyDrop' for blocking guard's inner
  godot-cell/src/blocking_guards.rs
Labels: c: core, performance

#1195 Fix inaccurate `Color` constants
  godot-core/src/builtin/color_constants.rs
  itest/rust/src/builtin_tests/color_test.rs
Labels: bug, c: core

#1201 Relaxed Variant conversions
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/rid.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector4.rs
  godot-core/src/builtin/vectors/vector4i.rs
  godot-core/src/meta/args/cow_arg.rs
  godot-core/src/meta/args/object_arg.rs
  godot-core/src/meta/args/ref_arg.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/param_tuple.rs
  godot-core/src/meta/param_tuple/impls.rs
  godot-core/src/meta/signature.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/registry/godot_register_wrappers.rs
  godot-core/src/registry/property.rs
  godot-ffi/src/godot_ffi.rs
  godot-ffi/src/lib.rs
  itest/godot/InheritTests.gd
  itest/godot/ManualFfiTests.gd
  itest/godot/TestRunner.gd
  itest/godot/TestSuite.gd
  itest/godot/input/GenFfiTests.template.gd
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/register_tests/conversion_test.rs
Labels: quality-of-life, c: register

#1193 Allow custom types to be passed as `impl AsArg<T>`
  godot-core/src/builtin/collections/array.rs
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/args/cow_arg.rs
  godot-core/src/meta/args/mod.rs
  godot-core/src/meta/godot_convert/mod.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  itest/rust/src/builtin_tests/containers/signal_disconnect_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
Labels: quality-of-life, c: core

#1203 Verify that marshalling errors cause failed *GDScript* function
  itest/godot/ManualFfiTests.gd
  itest/godot/TestSuite.gd
  itest/rust/src/object_tests/object_test.rs
Labels: quality-of-life, c: register
