Repository godot-rust/gdext, pull requests merged in 2025-09, with the labels that each got.

#1295 Add `Dictionary::get_or_insert()`
  godot-core/src/builtin/collections/dictionary.rs
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
Labels: feature, c: core

#1301 drop_strong_ref – make sure that given instance haven't been freed before dropping stored StrongRef.
  godot-core/src/obj/base.rs
Labels: bug, c: core

#1305 Implement Send and Sync for PhantomVar
  godot-core/src/registry/property/phantom_var.rs
Labels: quality-of-life, c: register

#1289 Add `ClassCodegenLevel::Core`
  godot-codegen/src/generator/mod.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-codegen/src/util.rs
  godot-ffi/src/binding/mod.rs
  godot-ffi/src/lib.rs
  itest/rust/src/lib.rs
  itest/rust/src/object_tests/init_level_test.rs
  itest/rust/src/object_tests/mod.rs
Labels: quality-of-life, c: engine

#1308 Merge `AsObjectArg<T>` into `AsArg<Gd<T>>`
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/generator/functions_common.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-codegen/src/util.rs
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/args/mod.rs
  godot-core/src/meta/args/object_arg.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/sealed.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/object_tests/dyn_gd_test.rs
  itest/rust/src/object_tests/object_test.rs
Labels: quality-of-life, c: ffi

#1312 Remove lifetime from `PassiveGd`
  godot-core/src/obj/base.rs
  godot-core/src/obj/guards.rs
  godot-core/src/obj/passive_gd.rs
  godot-core/src/obj/traits.rs
  itest/rust/src/object_tests/base_test.rs
Labels: bug, c: core

#1315 More type-safe engine APIs (mostly int -> enum)
  godot-codegen/src/generator/classes.rs
  godot-codegen/src/generator/default_parameters.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/classes/manual_extensions.rs
  godot-core/src/classes/mod.rs
  godot-core/src/classes/type_safe_replacements.rs
  godot-core/src/obj/script.rs
  godot-core/src/registry/signal/typed_signal.rs
  godot-core/src/task/futures.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/engine_tests/codegen_test.rs
  itest/rust/src/framework/runner.rs
  itest/rust/src/register_tests/func_virtual_test.rs
Labels: feature, c: engine, breaking-change

#1286 Remove by-value `From` conversions between strings
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/meta/property_info.rs
  godot-core/src/registry/property/mod.rs
  godot-core/src/storage/instance_storage.rs
  godot-macros/src/derive/data_models/c_style_enum.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
  itest/rust/src/builtin_tests/string/node_path_test.rs
  itest/rust/src/builtin_tests/string/string_name_test.rs
  itest/rust/src/object_tests/dyn_gd_test.rs
  itest/rust/src/object_tests/object_test.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
  itest/rust/src/register_tests/func_virtual_test.rs
Labels: c: core, breaking-change, performance

#1307 Remove static lifetime in `StringName::from(&CStr)`
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/builtin/string/string_name.rs
  itest/rust/src/builtin_tests/string/string_name_test.rs
Labels: c: core, performance

#1300 Add `SignedRange` for negative indices in range ops
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/collections/packed_array_element.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_macros.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/signed_range.rs
  godot-core/src/tools/gfile.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/packed_array_test.rs
  itest/rust/src/builtin_tests/string/node_path_test.rs
Labels: quality-of-life, c: core, breaking-change

#1314 `AsArg` for objects now consistently passes by reference
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/args/cow_arg.rs
  godot-core/src/meta/args/object_arg.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  itest/rust/src/builtin_tests/convert_test.rs
  itest/rust/src/object_tests/object_arg_test.rs
Labels: c: ffi, performance

#1317 Address `clippy::nursery` lint errors in macros.
  godot-ffi/src/plugins.rs
  godot-macros/src/class/derive_godot_class.rs
Labels: quality-of-life, c: register

#1323 `AsArg` now supports `Option<DynGd>`
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/args/mod.rs
  godot-core/src/meta/args/ref_arg.rs
  godot-core/src/meta/sealed.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  itest/rust/src/object_tests/dyn_gd_test.rs
Labels: quality-of-life, c: ffi

#1322 Rename `ClassName` -> `ClassId`
  check.sh
  godot-codegen/src/generator/classes.rs
  godot-codegen/src/util.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/classes/class_runtime.rs
  godot-core/src/classes/manual_extensions.rs
  godot-core/src/docs.rs
  godot-core/src/meta/class_id.rs
  godot-core/src/meta/element_type.rs
  godot-core/src/meta/error/call_error.rs
  godot-core/src/meta/error/convert_error.rs
  godot-core/src/meta/godot_convert/impls.rs
  godot-core/src/meta/method_info.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/property_info.rs
  godot-core/src/meta/signature.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/obj/rtti.rs
  godot-core/src/obj/traits.rs
  godot-core/src/private.rs
  godot-core/src/registry/callbacks.rs
  godot-core/src/registry/class.rs
  godot-core/src/registry/constant.rs
  godot-core/src/registry/godot_register_wrappers.rs
  godot-core/src/registry/method.rs
  godot-core/src/registry/plugin.rs
  godot-core/src/registry/property/mod.rs
  godot-core/src/registry/property/phantom_var.rs
  godot-core/src/tools/save_load.rs
  godot-macros/src/class/data_models/constant.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/util/mod.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/script/script_instance_tests.rs
  itest/rust/src/object_tests/class_name_test.rs
  itest/rust/src/object_tests/class_rename_test.rs
  itest/rust/src/object_tests/get_property_list_test.rs
  itest/rust/src/object_tests/validate_property_test.rs
  itest/rust/src/register_tests/constant_test.rs
  itest/rust/src/register_tests/func_test.rs
Labels: quality-of-life, c: core

#1320 Numeric `#[export]` limits and type checks
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/meta/property_info.rs
  godot-core/src/registry/property/mod.rs
  godot-ffi/src/toolbox.rs
  godot-macros/src/class/data_models/field_export.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/derive/data_models/c_style_enum.rs
  itest/rust/build.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/object_tests/property_template_test.rs
  itest/rust/src/object_tests/property_test.rs
Labels: feature, c: register, breaking-change

#1316 `StringName`: remove `From` impl for `&'static CStr`
  godot-codegen/src/util.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/class_id.rs
  godot-macros/src/class/data_models/inherent_impl.rs
  itest/rust/src/builtin_tests/convert_test.rs
  itest/rust/src/builtin_tests/string/string_name_test.rs
Labels: quality-of-life, c: core, breaking-change

#1336 itest: work around clippy errors when `quote!` generates one big line
  itest/rust/build.rs
Labels: c: tooling

#1340 Remove deprecated symbols, other small cleanups
  godot-codegen/src/conv/type_conversions.rs
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/generator/extension_interface.rs
  godot-codegen/src/generator/method_tables.rs
  godot-codegen/src/util.rs
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/vectors/vector_axis.rs
  godot-core/src/deprecated.rs
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/object_to_owned.rs
  godot-core/src/meta/uniform_object_deref.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry/signal/connect_builder.rs
  godot-core/src/registry/signal/typed_signal.rs
  godot-macros/src/class/data_models/field_export.rs
  itest/rust/src/object_tests/base_test.rs
  itest/rust/src/object_tests/enum_test.rs
Labels: quality-of-life, c: core, breaking-change

#1342 ReadMe: update + code example
  ReadMe.md
  godot/crate-readme.md
  misc/assets/godot-rust-ferris.png
Labels: documentation
