Repository godot-rust/gdext, pull requests merged in 2025-07, with the labels that each got.

#1222 Allow `clippy::uninlined_format_args` (Rust 1.88)
  godot-codegen/src/generator/default_parameters.rs
  itest/rust/src/engine_tests/save_load_test.rs
  itest/rust/src/framework/runner.rs
Labels: quality-of-life

#1226 `RawGd` casting is now simpler and safer
  godot-core/src/obj/casts.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/raw_gd.rs
Labels: quality-of-life, c: ffi

#1227 Improve `Debug` impl for objects
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/classes/class_runtime.rs
  godot-core/src/obj/base.rs
  godot-core/src/obj/bounds.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/storage/instance_storage.rs
  godot-core/src/storage/mod.rs
  godot-core/src/storage/multi_threaded.rs
  godot-core/src/storage/single_threaded.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/object_tests/dyn_gd_test.rs
  itest/rust/src/object_tests/object_test.rs
Labels: quality-of-life, c: ffi

#1229 Verify that panic messages support UTF-8
  godot-core/src/global/print.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
  itest/rust/src/object_tests/object_test.rs
Labels: quality-of-life, c: core

#1232 Access all enum/bitfield values programmatically
  .github/composite/godot-itest/action.yml
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/models/domain/enums.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-core/src/builtin/vectors/vector_axis.rs
  godot-core/src/meta/inspect.rs
  godot-core/src/meta/mod.rs
  godot-core/src/obj/traits.rs
  godot-macros/src/bench.rs
  godot-macros/src/itest.rs
  godot-macros/src/util/mod.rs
  itest/rust/src/engine_tests/codegen_test.rs
  itest/rust/src/engine_tests/engine_enum_test.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
  itest/rust/src/object_tests/enum_test.rs
  itest/rust/src/register_tests/constant_test.rs
Labels: feature, c: engine

#1225 `match_class!` macro to dispatch subclasses
  godot-core/src/classes/match_class.rs
  godot-core/src/classes/mod.rs
  godot/src/prelude.rs
  itest/rust/src/engine_tests/match_class_test.rs
  itest/rust/src/engine_tests/mod.rs
Labels: feature, c: engine

#1233 Update editor plugin docs.
  godot-macros/src/lib.rs
Labels: documentation

#1234 Start phasing out `dict!` macro in favor of `vdict!`
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/mod.rs
  godot-core/src/registry/rpc_config.rs
  itest/rust/build.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
  itest/rust/src/builtin_tests/containers/packed_array_test.rs
  itest/rust/src/builtin_tests/containers/variant_test.rs
  itest/rust/src/builtin_tests/convert_test.rs
  itest/rust/src/object_tests/property_test.rs
Labels: quality-of-life, c: core

#1237 Simplify `match_class!` syntax + implementation
  godot-core/src/classes/match_class.rs
  itest/rust/src/engine_tests/match_class_test.rs
Labels: quality-of-life, c: engine

#1238 Clarify lifetimes: `GdRef<T>` -> `GdRef<'_, T>`
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector4.rs
  godot-core/src/builtin/vectors/vector4i.rs
  godot-core/src/meta/error/string_error.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/obj/script.rs
  itest/rust/src/object_tests/virtual_methods_test.rs
Labels: quality-of-life

#1204 Type-safe `call_deferred` alternative
  godot-core/src/obj/call_deferred.rs
  godot-core/src/obj/mod.rs
  godot-core/src/registry/signal/typed_signal.rs
  godot-core/src/task/async_runtime.rs
  godot-ffi/src/lib.rs
  godot/src/prelude.rs
  itest/rust/src/object_tests/call_deferred_test.rs
  itest/rust/src/object_tests/mod.rs
Labels: feature, c: engine

#1244 Clarify `Export` semantics for objects
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  godot-core/src/registry/property.rs
Labels: documentation, c: register

#1241 Derive `Hash` for `Rect2i`
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/vectors/vector_axis.rs
Labels: feature, c: core

#1247 Re-export deprecated `dict!` macro
  godot-core/src/builtin/mod.rs
  godot-macros/Cargo.toml
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/lib.rs
  godot/Cargo.toml
Labels: bug, c: core
