Repository godot-rust/gdext, pull requests merged in 2025-10, with the labels that each got.

#1349 Support `read_as_gstring_entire` in Godot versions newer than 4.5.
  godot-core/src/tools/gfile.rs
Labels: bug, c: engine

#1351 Handle panic in OnReady auto_init.
  godot-core/src/obj/on_ready.rs
  itest/rust/src/object_tests/onready_test.rs
Labels: bug, c: core

#1353 Preserve doc comments for signal.
  godot-macros/src/class/data_models/signal.rs
  godot-macros/src/util/mod.rs
  itest/rust/src/register_tests/func_test.rs
Labels: feature, c: register

#1334 Use rust str instead of cstr in `ClassIdSource`
  godot-codegen/src/generator/classes.rs
  godot-core/src/meta/class_id.rs
  godot-core/src/meta/signature.rs
  godot-macros/src/class/derive_godot_class.rs
  itest/rust/src/object_tests/class_name_test.rs
Labels: c: core, performance
