Repository godot-rust/gdext, pull requests merged in 2025-03, with the labels that each got.

#1065 Godot 4.4 support
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  godot-bindings/Cargo.toml
  godot-bindings/build.rs
  godot-bindings/src/import.rs
  godot-core/Cargo.toml
  godot-core/src/obj/traits.rs
  godot-ffi/Cargo.toml
  godot/Cargo.toml
  itest/repo-tweak/src/main.rs
Labels: feature, c: tooling

#1064 Callables to builtin methods; `Array::bsearch_by, sort_unstable_by`
  check.sh
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/collections/array.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: feature, c: core

#1063 Move builtin API design to `__docs` module
  godot-core/src/builtin/mod.rs
  godot/src/__docs.rs
Labels: documentation, c: core

#1062 `GString`, `StringName`: add conversions from bytes and C-strings
  godot-core/src/builtin/mod.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/mod.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/meta/error/mod.rs
  godot-core/src/meta/error/string_error.rs
  itest/rust/src/builtin_tests/mod.rs
  itest/rust/src/builtin_tests/string/gstring_test.rs
  itest/rust/src/builtin_tests/string/string_name_test.rs
  itest/rust/src/builtin_tests/string/string_test_macros.rs
Labels: feature, c: core

#1043 Async Signals
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/registry/signal/typed_signal.rs
  godot-core/src/task/async_runtime.rs
  godot-core/src/task/futures.rs
  godot-core/src/task/mod.rs
  godot-macros/src/itest.rs
  godot/src/lib.rs
  itest/godot/TestRunner.gd
  itest/rust/src/engine_tests/async_test.rs
  itest/rust/src/engine_tests/mod.rs
  itest/rust/src/framework/mod.rs
  itest/rust/src/framework/runner.rs
Labels: feature

#1070 Work around `OpenXR*` APIs wrongly exposed in release; wider release checks in CI
  .github/workflows/full-ci.yml
  godot-codegen/src/special_cases/special_cases.rs
  godot-codegen/src/util.rs
  godot-ffi/src/toolbox.rs
Labels: bug, c: engine

#1071 Validate that `api-custom` is run for Godot Debug binary
  godot-bindings/src/godot_exe.rs
Labels: quality-of-life, c: tooling

#1068 Regression test for checking if `RustCallable` is connected to signal.
  godot-core/src/builtin/callable.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: documentation, c: core

#1076 Bump MSRV from 1.80 to 1.85
  .github/workflows/full-ci.yml
  .github/workflows/update-docs.yml
  examples/dodge-the-creeps/rust/Cargo.toml
  examples/hot-reload/rust/Cargo.toml
  godot-bindings/Cargo.toml
  godot-cell/Cargo.toml
  godot-codegen/Cargo.toml
  godot-core/Cargo.toml
  godot-core/src/meta/args/ref_arg.rs
  godot-core/src/obj/script.rs
  godot-ffi/Cargo.toml
  godot-macros/Cargo.toml
  godot-macros/src/itest.rs
  godot/Cargo.toml
  itest/repo-tweak/Cargo.toml
  itest/rust/Cargo.toml
Labels: quality-of-life, c: tooling, breaking-change

#1075 Explicit signal visibility
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/data_models/inherent_impl.rs
  godot-macros/src/class/data_models/signal.rs
  godot-macros/src/docs.rs
  godot-macros/src/lib.rs
  godot-macros/src/util/mod.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
Labels: bug, c: core

#1037 Panic handling: thread safety; set hook once and not repeatedly
  godot-core/src/init/mod.rs
  godot-core/src/lib.rs
  godot-core/src/private.rs
  godot-core/src/task/async_runtime.rs
  godot-macros/src/class/data_models/func.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
  itest/rust/src/framework/mod.rs
  itest/rust/src/framework/runner.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
Labels: quality-of-life, c: core

#1077 XML doc generation: code cleanup
  godot-macros/src/class/data_models/inherent_impl.rs
  godot-macros/src/class/data_models/interface_trait_impl.rs
  godot-macros/src/class/derive_godot_class.rs
  godot-macros/src/docs.rs
Labels: quality-of-life, c: register

#1051 Add `OnEditor<T>`, remove `impl<T> Export for Gd<T>` and `DynGd<T, D>`
  godot-core/src/builtin/collections/array.rs
  godot-core/src/meta/property_info.rs
  godot-core/src/obj/dyn_gd.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/mod.rs
  godot-core/src/obj/oneditor.rs
  godot-core/src/registry/class.rs
  godot-core/src/registry/property.rs
  godot-macros/src/class/data_models/field.rs
  godot-macros/src/class/derive_godot_class.rs
  godot/src/prelude.rs
  itest/godot/ManualFfiTests.gd
  itest/rust/src/object_tests/dyn_gd_test.rs
  itest/rust/src/object_tests/mod.rs
  itest/rust/src/object_tests/oneditor_test.rs
  itest/rust/src/object_tests/property_test.rs
  itest/rust/src/register_tests/option_ffi_test.rs
Labels: feature, c: core, c: register, breaking-change

#1079 Rename: OnEditor `invalid` to `sentinel`
  godot-core/src/obj/oneditor.rs
  godot-macros/src/class/derive_godot_class.rs
  itest/rust/src/object_tests/oneditor_test.rs
Labels: quality-of-life, c: core

#1083 Add `OnReady::from_loaded()` + `#[init(load = "PATH")]`
  godot-core/src/obj/mod.rs
  godot-core/src/obj/on_editor.rs
  godot-core/src/obj/on_ready.rs
  godot-macros/src/class/data_models/field.rs
  godot-macros/src/class/derive_godot_class.rs
  itest/rust/src/engine_tests/save_load_test.rs
  itest/rust/src/object_tests/onready_test.rs
Labels: documentation, feature, c: register

#1084 Add diagnostic hints for missing `ToGodot`/`FromGodot` traits
  godot-core/src/meta/args/as_arg.rs
  godot-core/src/meta/args/object_arg.rs
  godot-core/src/meta/godot_convert/mod.rs
  godot-core/src/obj/traits.rs
Labels: quality-of-life, c: core

#1085 Move examples out of repository
  .github/composite/godot-itest/action.yml
  .github/other/check-example.sh
  .github/other/licenserc.yml
  .github/other/retry.sh
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  Cargo.toml
  ReadMe.md
  examples/dodge-the-creeps/godot/Hud.tscn
  examples/dodge-the-creeps/godot/LICENSE
  examples/dodge-the-creeps/godot/Main.tscn
  examples/dodge-the-creeps/godot/Mob.tscn
  examples/dodge-the-creeps/godot/Player.tscn
  examples/dodge-the-creeps/godot/README.md
  examples/dodge-the-creeps/godot/art/House In a Forest Loop.ogg
  examples/dodge-the-creeps/godot/art/enemyFlyingAlt_1.png
  examples/dodge-the-creeps/godot/art/enemyFlyingAlt_2.png
  examples/dodge-the-creeps/godot/art/enemySwimming_1.png
  examples/dodge-the-creeps/godot/art/enemySwimming_2.png
  examples/dodge-the-creeps/godot/art/enemyWalking_1.png
  examples/dodge-the-creeps/godot/art/enemyWalking_2.png
  examples/dodge-the-creeps/godot/art/gameover.wav
  examples/dodge-the-creeps/godot/art/playerGrey_up1.png
  examples/dodge-the-creeps/godot/art/playerGrey_up2.png
  examples/dodge-the-creeps/godot/art/playerGrey_walk1.png
  examples/dodge-the-creeps/godot/art/playerGrey_walk2.png
  examples/dodge-the-creeps/godot/fonts/FONTLOG.txt
  examples/dodge-the-creeps/godot/fonts/LICENSE.txt
  examples/dodge-the-creeps/godot/fonts/Xolonium-Regular.ttf
  examples/dodge-the-creeps/godot/icon.png
  examples/dodge-the-creeps/godot/project.godot
  examples/dodge-the-creeps/godot/rust.gdextension
  examples/dodge-the-creeps/rust/.cargo/config.toml
  examples/dodge-the-creeps/rust/Cargo.toml
  examples/dodge-the-creeps/rust/build-wasm.sh
  examples/dodge-the-creeps/rust/src/hud.rs
  examples/dodge-the-creeps/rust/src/lib.rs
  examples/dodge-the-creeps/rust/src/main_scene.rs
  examples/dodge-the-creeps/rust/src/mob.rs
  examples/dodge-the-creeps/rust/src/player.rs
  examples/hot-reload/godot/.godot/extension_list.cfg
  examples/hot-reload/godot/MainScene.tscn
  itest/hot-reload/godot/.godot/extension_list.cfg
  itest/hot-reload/godot/MainScene.tscn
  itest/hot-reload/godot/ReloadOrchestrator.gd
  itest/hot-reload/godot/ReloadOrchestrator.gd.uid
  itest/hot-reload/godot/ReloadTest.gd
  itest/hot-reload/godot/ReloadTest.gd.uid
  itest/hot-reload/godot/editor_layout.cfg
  itest/hot-reload/godot/project.godot
  itest/hot-reload/godot/run-test.sh
  itest/hot-reload/godot/rust.gdextension
  itest/hot-reload/godot/rust.gdextension.uid
  itest/hot-reload/rust/Cargo.toml
  itest/hot-reload/rust/src/lib.rs
Labels: c: examples

#1090 GodotFfi::variant_type can be const
  godot-core/src/builtin/aabb.rs
  godot-core/src/builtin/basis.rs
  godot-core/src/builtin/callable.rs
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  godot-core/src/builtin/collections/packed_array.rs
  godot-core/src/builtin/color.rs
  godot-core/src/builtin/plane.rs
  godot-core/src/builtin/projection.rs
  godot-core/src/builtin/quaternion.rs
  godot-core/src/builtin/rect2.rs
  godot-core/src/builtin/rect2i.rs
  godot-core/src/builtin/rid.rs
  godot-core/src/builtin/signal.rs
  godot-core/src/builtin/string/gstring.rs
  godot-core/src/builtin/string/node_path.rs
  godot-core/src/builtin/string/string_name.rs
  godot-core/src/builtin/transform2d.rs
  godot-core/src/builtin/transform3d.rs
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/builtin/variant/mod.rs
  godot-core/src/builtin/vectors/vector2.rs
  godot-core/src/builtin/vectors/vector2i.rs
  godot-core/src/builtin/vectors/vector3.rs
  godot-core/src/builtin/vectors/vector3i.rs
  godot-core/src/builtin/vectors/vector4.rs
  godot-core/src/builtin/vectors/vector4i.rs
  godot-core/src/meta/args/cow_arg.rs
  godot-core/src/meta/args/object_arg.rs
  godot-core/src/meta/args/ref_arg.rs
  godot-core/src/meta/traits.rs
  godot-core/src/obj/raw_gd.rs
  godot-core/src/registry/godot_register_wrappers.rs
  godot-core/src/registry/property.rs
  godot-ffi/src/godot_ffi.rs
Labels: quality-of-life, c: ffi

#1092 Remove `gensym`, fix Wasm class registration
  .github/other/deny.toml
  godot-ffi/Cargo.toml
  godot-ffi/src/interface_init.rs
  godot-ffi/src/lib.rs
  godot-ffi/src/plugins.rs
  godot-macros/Cargo.toml
  godot-macros/src/ffi_macros.rs
  godot-macros/src/gdextension.rs
  godot-macros/src/lib.rs
  godot/src/lib.rs
Labels: bug, quality-of-life, c: wasm

#1089 Fix editor docs not generating when class itself is undocumented
  godot-core/src/docs.rs
  godot-core/src/registry/plugin.rs
  godot-macros/src/docs.rs
Labels: bug, c: register

#1094 `bind/bind_mut` borrow errors now print previous stacktrace
  godot-core/src/meta/error/call_error.rs
  godot-core/src/private.rs
  godot-core/src/registry/class.rs
  godot-core/src/storage/instance_storage.rs
  godot-core/src/storage/mod.rs
  godot-core/src/storage/multi_threaded.rs
  godot-core/src/storage/single_threaded.rs
  itest/rust/src/object_tests/dynamic_call_test.rs
Labels: quality-of-life, c: core

#1095 itest runner must call on_finished deferred
  itest/rust/src/framework/runner.rs
Labels: bug, c: tooling

#1096 `Array`, `Dictionary`: add `into_read_only()` + `is_read_only()`
  godot-core/src/builtin/collections/array.rs
  godot-core/src/builtin/collections/dictionary.rs
  itest/rust/src/builtin_tests/containers/array_test.rs
  itest/rust/src/builtin_tests/containers/dictionary_test.rs
Labels: feature, c: core

#1097 Bitfields now have `|=` operator
  godot-codegen/src/generator/enums.rs
  itest/rust/src/builtin_tests/containers/callable_test.rs
Labels: quality-of-life, c: engine

#1093 Wasm threading fixes
  godot-core/src/init/mod.rs
  godot-core/src/private.rs
  godot-core/src/task/async_runtime.rs
  godot-macros/src/gdextension.rs
Labels: bug, c: wasm

#1100 Move `itest` default feature `codegen-full` into build script
  godot-codegen/src/lib.rs
  itest/rust/Cargo.toml
  itest/rust/build.rs
Labels: quality-of-life, c: tooling

#1091 Allow `Gd<T>` to be passed as a parameter in async signals
  godot-core/src/builtin/variant/impls.rs
  godot-core/src/meta/mod.rs
  godot-core/src/meta/sealed.rs
  godot-core/src/task/futures.rs
  godot-core/src/task/mod.rs
  itest/rust/Cargo.toml
  itest/rust/src/engine_tests/async_test.rs
  itest/rust/src/framework/mod.rs
Labels: quality-of-life, c: core

#1106 Masked enums can now be constructed from integers
  godot-codegen/src/generator/enums.rs
  godot-codegen/src/special_cases/special_cases.rs
  itest/rust/src/engine_tests/engine_enum_test.rs
Labels: bug, c: engine

#1103 Describe semantics of `base_mut()` in docs
  godot-core/src/obj/script.rs
  godot-core/src/obj/traits.rs
Labels: documentation, c: script-instance

#1107 Undo Wasm threading fix on panic context tracking
  godot-core/src/private.rs
Labels: quality-of-life, c: wasm

#1111 Type-safe signals for engine classes
  godot-codegen/src/generator/classes.rs
  godot-codegen/src/generator/docs.rs
  godot-codegen/src/generator/mod.rs
  godot-codegen/src/generator/signals.rs
  godot-codegen/src/models/domain.rs
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/models/json.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/obj/gd.rs
  godot-core/src/obj/traits.rs
  godot-core/src/registry/signal/connect_builder.rs
  godot-core/src/registry/signal/typed_signal.rs
  godot-core/src/task/futures.rs
  godot-macros/src/class/data_models/signal.rs
  godot/src/prelude.rs
  itest/rust/src/builtin_tests/containers/signal_test.rs
  itest/rust/src/engine_tests/async_test.rs
Labels: feature, c: engine

#1110 Support `f32` directly in `process` and `physics_process`
  godot-codegen/src/models/domain_mapping.rs
  godot-codegen/src/special_cases/special_cases.rs
  godot-core/src/obj/traits.rs
  godot-macros/src/class/data_models/func.rs
  godot-macros/src/class/data_models/interface_trait_impl.rs
  godot-macros/src/util/mod.rs
  itest/rust/src/engine_tests/codegen_test.rs
Labels: feature, c: register
